-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

robot_mlp_address = "10.42.0.38"
robot_llp_address = "10.42.0.37"

robot_i2c_bus = "/dev/i2c-1"

robot_imu_drdy_pin = 4

robot_geometry = {
-- Calirbated transforms
--  nav_cam_transform        = transform(vec3(0.1157+0.002, -0.0422, -0.0826), quat4(-0.46938154, -0.52978318, -0.5317378, -0.46504373)),
--  dock_cam_transform       = transform(vec3(-0.1032-0.0029, -0.0540, -0.0064), quat4(0.54029868, -0.45297017, -0.47464308, 0.52688644)),
--  imu_transform            = transform(vec3(0.0247, 0.0183, 0.0094), quat4(0.0043601096, -0.0066617904, 0.75077957, 0.66050535))

-- Engineering positions with idealized orientations
  perch_cam_transform      = transform(vec3(-0.1331, 0.0509, -0.0166), quat4(0.000, -0.70710678118, 0.000, 0.70710678118)),-- placeholder, not valid!
  haz_cam_transform        = transform(vec3(0.1328, 0.0362, -0.0826), quat4(-0.500, 0.500, -0.500, 0.500)), -- placeholder, not valid!
  nav_cam_transform        = transform(vec3(0.1157+0.002, -0.0422, -0.0826), quat4(0.500, 0.500, 0.500, 0.500) ),
  dock_cam_transform       = transform(vec3(-0.1032-0.0029, -0.0540, -0.0064), quat4(0.500, -0.500, -0.500, 0.500) ),
  imu_transform            = transform(vec3(0.0247, 0.0183, 0.0094), quat4(0.000, 0.000, 0.70710678118, 0.70710678118) )
};

robot_camera_calibrations = {
  nav_cam = {
    distortion_coeff = 0.99359,
    intrinsic_matrix = {
      608.07077, 0.0, 576.11697,
      0.0, 605.70277, 505.28737,
      0.0, 0.0, 1.0
    },
    gain=100,
    exposure=150
  },
  dock_cam = {
    distortion_coeff = 1.00514,
    intrinsic_matrix = {
      749.90711, 0.0, 571.82851,
      0.0, 747.81856, 486.05688,
      0.0, 0.0, 1.0
    },
    gain=50,
    exposure=150
  },

  perch_cam = {
    distortion_coeff = {-0.366735, 0.182027, 0.00218105, 0.0114682},
    intrinsic_matrix = {
      209.21199, 0.0, 94.688486,
      0.0, 207.62067, 84.04047,
      0.0, 0.0, 1.0
    },
    gain=100,
    exposure=150
  },

  haz_cam = {
    distortion_coeff = {-0.411106, 0.375288, -0.00080993, -0.00817328},
    intrinsic_matrix = {
      188.27394, 0.0, 117.94881,
      0.0, 186.18359, 87.740547,
      0.0, 0.0, 1.0
    },
    gain=50,
    exposure=150
  }
}

-- These are the correct IDs but may need to be switched
robot_perch_cam_device = "0005-4804-0050-1421"
robot_haz_cam_device   = "0005-4805-0050-2020"

agent_name = "Bsharp"

heartbeat_queue_size = 5

nodes_not_running = {"speed_cam"}
