-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

robot_mlp_address = "10.42.0.38"
robot_llp_address = "10.42.0.37"

robot_i2c_bus = "/dev/i2c-1"

robot_imu_drdy_pin = 4

robot_geometry = {
-- Placeholder transforms, not accurate!
  hazcam_to_navcam_transform = transform(vec3(0.079356943, 0.00019413532, -0.0019157775), quat4(0.076822296, -0.009733734, 0.99698419, 0.0051110388)),
  scicam_to_hazcam_transform = transform(vec3(0.0070938664, 0.061024816, -0.11184277), quat4(0.065639737, -0.031237584, 0.99720414, -0.017307023)),

-- Calibrated transforms
--  nav_cam_transform        = transform(vec3(0.1157+0.002, -0.0422, -0.0826), quat4(-0.46938154, -0.52978318, -0.5317378, -0.46504373)),
--  dock_cam_transform       = transform(vec3(-0.1032-0.0029, -0.0540, -0.0064), quat4(0.54029868, -0.45297017, -0.47464308, 0.52688644)),
--  imu_transform            = transform(vec3(0.0247, 0.0183, 0.0094), quat4(0.0043601096, -0.0066617904, 0.75077957, 0.66050535)),

-- Engineering positions with idealized orientations
  perch_cam_transform      = transform(vec3(-0.1331, 0.0509, -0.0166), quat4(0.000, -0.70710678118, 0.000, 0.70710678118)),-- placeholder, not valid!
  haz_cam_transform        = transform(vec3(0.1328, 0.0362, -0.0826), quat4(-0.500, 0.500, -0.500, 0.500)), -- placeholder, not valid!
  nav_cam_transform        = transform(vec3(0.1157+0.002, -0.0422, -0.0826), quat4(0.500, 0.500, 0.500, 0.500) ),
  dock_cam_transform       = transform(vec3(-0.1032-0.0029, -0.0540, -0.0064), quat4(0.500, -0.500, -0.500, 0.500) ),
  sci_cam_transform        = transform(vec3(0.1157+0.002, -0.0422, -0.0826), quat4(0.500, 0.500, 0.500, 0.500) ),
  imu_transform            = transform(vec3(0.0247, 0.0183, 0.0094), quat4(0.000, 0.000, 0.70710678118, 0.70710678118) )
};

robot_camera_calibrations = {
  nav_cam = {
    distortion_coeff = 0.993591,
    intrinsic_matrix = {
      603.78877, 0.0, 575.92329,
      0.0, 602.11334, 495.30887,
      0.0, 0.0, 1.0
    },
    gain=100,
    exposure=150
  },
  dock_cam = {
    distortion_coeff = 1.00447,
    intrinsic_matrix = {
      753.50986, 0.0, 565.35452,
      0.0, 751.15119, 483.81274,
      0.0, 0.0, 1.0
    },
    gain=50,
    exposure=150
  },
  perch_cam = {
    distortion_coeff = {-0.366735, 0.182027, 0.00218105, 0.0114682},
    intrinsic_matrix = {
      209.21199, 0.0, 94.688486,
      0.0, 207.62067, 84.04047,
      0.0, 0.0, 1.0
    },
    gain=100,
    exposure=150
  },
  haz_cam = {
    distortion_coeff = {-0.411106, 0.375288, -0.00080993, -0.00817328},
    intrinsic_matrix = {
      188.27394, 0.0, 117.94881,
      0.0, 186.18359, 87.740547,
      0.0, 0.0, 1.0
    },
    gain=50,
    exposure=150
  },
-- Placeholder for sci_cam, not accurate!
  sci_cam = {
    distortion_coeff = {0.128628, -0.167456, 0.00213421, -0.00262211},
    intrinsic_matrix = {
      859.44015, 0.0, 754.24485,
      0.0, 849.35466, 487.7349,
      0.0, 0.0, 1.0
    },
    gain=50,
    exposure=150
  }
}

-- PMC bus ordering and i2c trims {stbd, port}
robot_pmc_i2c_addrs = {0x21, 0x20}
robot_stbd_nozzle_calibration = {
    {0, 5, 0, 0, 0, 0},
    {0, 5, 0, 0, 0, 0}
}
robot_port_nozzle_calibration = {
    {0, 0, 0, 0, 0, 14},
    {0, 0, 0, 0, 0, 14}
}

-- These are the correct IDs but may need to be switched
robot_perch_cam_device = "0005-1207-0034-1315"
robot_haz_cam_device   = "0005-1209-0034-2003"

-- Location of the trackers in the body frame
robot_vive_extrinsics = {
  {
    -- port
    serial = "LHR-08DE963B", pose = transform(
      vec3(0, -0.1397, -0.1397),
      quat4(1.0, 0.0, 0.0, 0.0))
  },{
    -- starboard
    serial = "LHR-1FC0DEF4", pose = transform(
      vec3(0,  0.1397, -0.1397),
      quat4(0.0, 1.0, 0.0, 0.0))
  }
}

agent_name = "Bsharp"

heartbeat_queue_size = 20

nodes_not_running = {}
