-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

-- bumble config

robot_llp_address = "10.42.0.8"
robot_mlp_address = "10.42.0.9"

robot_i2c_bus = "/dev/i2c-1"

robot_imu_drdy_pin = 4

robot_geometry = {
  nav_cam_to_haz_cam_transform = transform(vec3(0.071421481, -0.00030319673, 0.0018058249), quat4(-0.0030431141, 0.0092646368, 0.99993195, 0.0064039206)),
  nav_cam_to_sci_cam_transform = transform(vec3(-0.076526224, 0.011869553, 0.045409155), quat4(-0.0035414316, 0.0048089362, -0.0071515076, 0.99995659)),
  haz_cam_depth_to_image_transform = {
    0.91602851, -0.00031586647, -0.0028485861, 0.0029767338,
    0.00032189197, 0.91603089, 0.0019373744, -0.0020741879,
    0.0028479115, -0.0019383659, 0.91602652, -0.0042296964,
    0, 0, 0, 1},

-- Engineering positions with idealized orientations
  perch_cam_transform      = transform(vec3(-0.1331, 0.0509, -0.0166), quat4(0.000, -0.70710678118, 0.000, 0.70710678118)),-- placeholder, not valid!
  haz_cam_transform        = transform(vec3(0.1328, 0.0362, -0.0826), quat4(-0.500, 0.500, -0.500, 0.500)), -- placeholder, not valid!
  nav_cam_transform        = transform(vec3(0.1157+0.002, -0.0422, -0.0826), quat4(0.500, 0.500, 0.500, 0.500) ),
  dock_cam_transform       = transform(vec3(-0.1032-0.0029, -0.0540, -0.0064), quat4(0.500, -0.500, -0.500, 0.500) ),
  --imu_transform            = transform(vec3(0.0247, 0.0183, 0.0094), quat4(0.000, 0.000, 0.70710678118, 0.70710678118) ),
  imu_transform            = transform(vec3(0.0386, 0.0247, -0.01016), quat4(0.000, 0.000, 0.70710678118, 0.70710678118) ),
  -- Not accurate, only for sim purposes
  sci_cam_transform        = transform(vec3(0.118, 0.0, -0.096), quat4(0.500, 0.500, 0.500, 0.500) )
};

robot_camera_calibrations = {
  nav_cam = {
    distortion_coeff = 0.998693,
    intrinsic_matrix = {
      608.8073, 0.0, 632.53684,
      0.0, 607.61439, 549.08386,
      0.0, 0.0, 1.0
    },
    gain=50,
    exposure=175
  },
  dock_cam = {
    distortion_coeff = 1.00762,
    intrinsic_matrix = {
      753.51021, 0.0, 631.11512,
      0.0, 751.3611, 508.69621,
      0.0, 0.0, 1.0
    },
    gain=50,
    exposure=150
  },
  perch_cam = {
    distortion_coeff = {-0.366735, 0.182027, 0.00218105, 0.0114682},
    intrinsic_matrix = {
      209.21199, 0.0, 94.688486,
      0.0, 207.62067, 84.04047,
      0.0, 0.0, 1.0
    },
    gain=100,
    exposure=150
  },
  haz_cam = {
    distortion_coeff = {-0.050689743, -1.1461691, -0.001373226, -0.00056427513},
    intrinsic_matrix = {
      215.88697, 0.0, 114.12908,
      0.0, 215.88697, 86.547331,
      0.0, 0.0, 1.0
    },
    gain=50,
    exposure=150
  },
  sci_cam = {
    distortion_coeff = {0.029948958, -0.056854916, -0.00077885482, -0.0039909885},
    intrinsic_matrix = {
      1048.499, 0.0, 705.22914,
      0.0, 1048.499, 511.03079,
      0.0, 0.0, 1.0
    },
    gain=50,
    exposure=150
  },
  nav_cam_to_haz_cam_timestamp_offset = -0.02,
  nav_cam_to_sci_cam_timestamp_offset = 0.18
}

-- PMC bus ordering and i2c trims {stbd, port}
robot_pmc_i2c_addrs = {0x21, 0x20}
robot_stbd_nozzle_calibration = {
  {0, 0, 0, 0, 0, 0},
  {0, 0, 0, 0, 0, 0}
}
robot_port_nozzle_calibration = {
  {0, 0, 0, 0, 0, 0},
  {5, 0, 5, 5, 0, 0}
}

robot_haz_cam_device   = "0005-1207-0034-0713"
robot_perch_cam_device = "0005-1209-0034-1304"

-- Location of the trackers in the body frame
robot_vive_extrinsics = {
  {
    -- port
    serial = "LHR-08DE963B", pose = transform(
      vec3(0, -0.1397, -0.1397),
      quat4(1.0, 0.0, 0.0, 0.0))
  },{
    -- starboard
    serial = "LHR-1FC0DEF4", pose = transform(
      vec3(0,  0.1397, -0.1397),
      quat4(0.0, 1.0, 0.0, 0.0))
  }
}

agent_name = "Bumble"

heartbeat_queue_size = 20

nodes_not_running = {}
