-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

-- bumblebee config

robot_llp_address = "10.42.0.8"
robot_mlp_address = "10.42.0.9"

robot_i2c_bus = "/dev/i2c-1"

robot_imu_drdy_pin = 4

robot_geometry = {
-- Placeholder transforms, not accurate!
  hazcam_to_navcam_transform = transform(vec3(0.08017845188659993, 0.0015130070850712233, -0.0037397072731650606), quat4(-0.010795173083773568, -0.020686270289023867, 0.99972637753705862, -0.0016469718428887884)),
  scicam_to_hazcam_transform = transform(vec3(0.039812511450892832, 0.017762378646844504, -0.0039477526753304197), quat4(-0.0017211102261497006, -0.023078433050076921, 0.99972939958575946, -0.0023561221189618764)),
  navcam_to_hazcam_timestamp_offset = -0.02,
  scicam_to_hazcam_timestamp_offset = -0.31,
  hazcam_depth_to_image_transform = {
     0.9672,  0.0017,  0.0111, -0.0060,
    -0.0016,  0.9672, -0.0065,  0.0040,
    -0.0112,  0.0065,  0.9672, -0.0133,
     0.0,     0.0,     0.0,     1.0},

-- Engineering positions with idealized orientations
  perch_cam_transform      = transform(vec3(-0.1331, 0.0509, -0.0166), quat4(0.000, -0.70710678118, 0.000, 0.70710678118)),-- placeholder, not valid!
  haz_cam_transform        = transform(vec3(0.1328, 0.0362, -0.0826), quat4(-0.500, 0.500, -0.500, 0.500)), -- placeholder, not valid!
  nav_cam_transform        = transform(vec3(0.1157+0.002, -0.0422, -0.0826), quat4(0.500, 0.500, 0.500, 0.500) ),
  dock_cam_transform       = transform(vec3(-0.1032-0.0029, -0.0540, -0.0064), quat4(0.500, -0.500, -0.500, 0.500) ),
  --imu_transform            = transform(vec3(0.0247, 0.0183, 0.0094), quat4(0.000, 0.000, 0.70710678118, 0.70710678118) )
  imu_transform            = transform(vec3(0.0386, 0.0247, -0.01016), quat4(0.000, 0.000, 0.70710678118, 0.70710678118) )
};

robot_camera_calibrations = {
  nav_cam = {
    distortion_coeff = 0.998693,
    intrinsic_matrix = {
      608.8073, 0.0, 632.53684,
      0.0, 607.61439, 549.08386,
      0.0, 0.0, 1.0
    },
    gain=50,
    exposure=175
  },
  dock_cam = {
    distortion_coeff = 1.00762,
    intrinsic_matrix = {
      753.51021, 0.0, 631.11512,
      0.0, 751.3611, 508.69621,
      0.0, 0.0, 1.0
    },
    gain=50,
    exposure=150
  },
  perch_cam = {
    distortion_coeff = {-0.366735, 0.182027, 0.00218105, 0.0114682},
    intrinsic_matrix = {
      209.21199, 0.0, 94.688486,
      0.0, 207.62067, 84.04047,
      0.0, 0.0, 1.0
    },
    gain=100,
    exposure=150
  },
  haz_cam = {
    distortion_coeff = {-0.411106, 0.375288, -0.00080993, -0.00817328},
    intrinsic_matrix = {
      188.27394, 0.0, 117.94881,
      0.0, 186.18359, 87.740547,
      0.0, 0.0, 1.0
    },
    gain=50,
    exposure=150
  },
-- Placeholder for sci_cam, not accurate!
  sci_cam = {
    distortion_coeff = {0.128628, -0.167456, 0.00213421, -0.00262211},
    intrinsic_matrix = {
      859.44015, 0.0, 754.24485,
      0.0, 849.35466, 487.7349,
      0.0, 0.0, 1.0
    },
    gain=50,
    exposure=150
  }
}

-- PMC bus ordering and i2c trims {stbd, port}
robot_pmc_i2c_addrs = {0x21, 0x20}
robot_stbd_nozzle_calibration = {
  {0, 0, 0, 0, 0, 0},
  {0, 0, 0, 0, 0, 0}
}
robot_port_nozzle_calibration = {
  {0, 0, 0, 0, 0, 0},
  {5, 0, 5, 5, 0, 0}
}

robot_haz_cam_device   = "0005-1207-0034-0713"
robot_perch_cam_device = "0005-1209-0034-1304"

-- Location of the trackers in the body frame
robot_vive_extrinsics = {
  {
    -- port
    serial = "LHR-08DE963B", pose = transform(
      vec3(0, -0.1397, -0.1397),
      quat4(1.0, 0.0, 0.0, 0.0))
  },{
    -- starboard
    serial = "LHR-1FC0DEF4", pose = transform(
      vec3(0,  0.1397, -0.1397),
      quat4(0.0, 1.0, 0.0, 0.0))
  }
}

agent_name = "Bumble"

heartbeat_queue_size = 20

nodes_not_running = {}
