-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

robot_mlp_address = "10.42.0.32"
robot_llp_address = "10.42.0.31"

robot_i2c_bus = "/dev/i2c-1"

robot_imu_drdy_pin = 101

robot_geometry = {

  -- Earl's measurements:
  -- nav cam (0.1157 + 0.002,    -0.0422, -0.0825)
  -- dock cam (-0.1032 - 0.0025, -0.054, -0.0063)
  -- imu (0.014, 0.016, ???)
  
  -- body to nav cam
  nav_cam_transform        = transform(vec3(1.006164, -0.40246188, -0.11828334), quat4(-0.62705584, -0.6478736, -0.30396816, -0.30767534)),
  dock_cam_transform       = transform(vec3(-1.3417313, -0.85338335, -0.93188288), quat4(0.35201577, -0.12218091, -0.40819653, 0.83338606)),
  perch_cam_transform      = transform(vec3(-0.10878481, -0.018804739, -0.018981695), quat4(-0.43293473, -0.17016626, -0.86180187, 0.20225848)),
  haz_cam_transform        = transform(vec3(0.0084365865, 0.011331512, -0.034768234), quat4(0.48379082, -0.49705367, -0.64062075, -0.32937691)),
  imu_transform            = transform(vec3(0.014, 0.016, -0.0319625), quat4(0.0043601096, -0.0066617904, 0.75077957, 0.66050535))
};

robot_camera_calibrations = {
  nav_cam = {
    distortion_coeff = 0.988231,
    intrinsic_matrix = {
      608.37776, 0.0, 582.09534,
      0.0, 607.46242, 494.11462,
      0.0, 0.0, 1.0
    },
    gain=100,
    exposure=150
  },
  dock_cam = {
    distortion_coeff = 1.00227,
    intrinsic_matrix = {
      759.74935, 0.0, 687.18456,
      0.0, 760.11188, 465.73741,
      0.0, 0.0, 1.0
    },
    gain=50,
    exposure=150
  },

  perch_cam = {
    distortion_coeff = {-0.366735, 0.182027, 0.00218105, 0.0114682},
    intrinsic_matrix = {
      209.21199, 0.0, 94.688486,
      0.0, 207.62067, 84.04047,
      0.0, 0.0, 1.0
    },
    gain=100,
    exposure=150
  },

  haz_cam = {
    distortion_coeff = {-0.411106, 0.375288, -0.00080993, -0.00817328},
    intrinsic_matrix = {
      188.27394, 0.0, 117.94881,
      0.0, 186.18359, 87.740547,
      0.0, 0.0, 1.0
    },
    gain=50,
    exposure=150
  }
}

robot_perch_cam_device = "0004-3608-0024-1107"
robot_haz_cam_device   = "0005-1203-0034-1013"

agent_name = "cert_unit"

heartbeat_queue_size = 5
