-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

robot_mlp_address = "10.42.0.25"
robot_llp_address = "10.42.0.26"

robot_i2c_bus = "/dev/i2c-0"

robot_imu_drdy_pin = 101

robot_geometry = {
  perch_cam_transform      = transform(vec3(-0.1375, 0.055, -0.03), quat4(0, -0.70711, 0, 0.70711)),
  haz_cam_transform        = transform(vec3(0, 0, 0), quat4(0, 0, 0, 1)), -- placeholder, not valid!

  -- rotation from quatmult(eulers_to_quat(0*pi/180, 2.4*pi/180, 1.2*pi/180), quatmult(eulers_to_quat(0, 0, pi/2), eulers_to_quat(pi, pi/2, pi)))
  nav_cam_transform        = transform(vec3(0.1145, 0.0536, 0.1016),            quat4(0.4831, 0.5302, 0.5334, 0.4484)),
  dock_cam_transform       = transform(vec3(-0.12094, -0.05715, -0.01905),        quat4(-0.5, -0.5, 0.5, 0.5)),
  -- translation: [0.0100375 -0.0114875 -0.0367625] euler angles: [7.318125 -0.243125 0.879375] degrees
  imu_transform            = transform(vec3(0.0177375, 0.0219125, -0.0319625), quat4(0.0043601096, -0.0066617904, 0.75077957, 0.66050535))
};

robot_camera_calibrations = {
  nav_cam = {
    distortion_coeff=0.91636968,
    intrinsic_matrix={
      525.84363984, 0.0, 583.62769122,
      0.0, 525.23636923, 450.98422435,
      0.0, 0.0, 1.0
    },
    gain=0,
    exposure=160
  },
  dock_cam = {
    distortion_coeff=1.06251,
    intrinsic_matrix={
      947.568, 0.0, 615.626,
      0.0, 949.44, 505.874,
      0.0, 0.0, 1.0
    },
    gain=72,
    exposure=127
  }
}

robot_perch_cam_device = "0005-1203-0034-1013"
robot_haz_cam_device   = "0004-3608-0024-1107"

agent_name = "P4C"
