-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

robot_mlp_address = ""
robot_llp_address = ""

robot_i2c_bus = ""

robot_imu_drdy_pin = 4

robot_geometry = {
  -- perch cam and haz cam transforms are not correct, Karen just used the nav cam and doc cam transforms for now so they would appear
  -- roughly in the correct position and orientation for the gazebo simulator
  --OLD PERCH CAM DATA perch_cam_transform      = transform(vec3(-0.1375, 0.055, -0.03), quat4(0, -0.70711, 0, 0.70711)),
  perch_cam_transform      = transform(vec3(-0.127825, -0.0993965, 0.0249159),  quat4(0.530088, -0.467269, -0.469412, 0.529451)),-- placeholder, not valid!
  haz_cam_transform        = transform(vec3(0.153069, -0.0534689, -0.0516773),  quat4(0.471123, 0.530379, 0.528796, 0.465956)), -- placeholder, not valid!

  -- Earl's measurements:
  -- nav cam (0.1157 + 0.002,    -0.0422, -0.0825)
  -- dock cam (-0.1032 - 0.0025, -0.054, -0.0063)
  -- imu (0.014, 0.016, ???)
  
  -- body to nav cam
  nav_cam_transform        = transform(vec3(0.153069, -0.0534689, -0.0516773),  quat4(0.471123, 0.530379, 0.528796, 0.465956)),
  dock_cam_transform       = transform(vec3(-0.127825, -0.0993965, 0.0249159),  quat4(0.530088, -0.467269, -0.469412, 0.529451)),
  imu_transform            = transform(vec3(0.014, 0.016, -0.0319625), quat4(0.0043601096, -0.0066617904, 0.75077957, 0.66050535))
};

robot_camera_calibrations = {
  nav_cam = {
    distortion_coeff=0.9594961883308006,
    intrinsic_matrix={
      605.6519913574068, 0.0, 631.6890196431887,
      0.0, 604.1256073405046, 564.3653721250416,
      0.0, 0.0, 1.0
    },
    gain=0,
    exposure=160
  },
  dock_cam = {
    distortion_coeff=1.06251,
    intrinsic_matrix={
      947.568, 0.0, 615.626,
      0.0, 949.44, 505.874,
      0.0, 0.0, 1.0
    },
    gain=72,
    exposure=127
  }
}

robot_perch_cam_device = ""
robot_haz_cam_device   = "0005-1202-0034-2009"

agent_name = "sim"

nodes_not_running = {"dock_cam",
                     "flashlight_aft",
                     "flashlight_front",
                     "handrail_detect",
                     "hlp_cpu_monitor",
                     "image_sampler",
                     "epson_imu",
                     "laser",
                     "llp_cpu_monitor",
                     "llp_disk_monitor",
                     "localization_nodelet",
                     "marker_tracking_nodelet",
                     "mlp_cpu_monitor",
                     "nav_cam",
                     "optical_flow_nodelet",
                     "pmc_actuator",
                     "eps_driver",
                     "speed_cam",
                     "pico_driver"}
