-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

robot_mlp_address = ""
robot_llp_address = ""

robot_i2c_bus = ""

robot_imu_drdy_pin = 4

robot_geometry = {
 -- perch cam and haz cam transforms are not correct, Karen just used the nav cam and doc cam transforms for now so they would appear
  -- roughly in the correct position and orientation for the gazebo simulator
  perch_cam_transform      = transform(vec3(-0.17531407, 0.039854512, -0.049258355), quat4(0.027922713, -0.71227711, 0.013958477, 0.70120383)),-- placeholder, not valid!
  haz_cam_transform        = transform(vec3(0.092136082, 0.041911327, -0.11237338), quat4(-0.51485943, 0.49197658, -0.47825571, 0.51395553)), -- placeholder, not valid!

  -- Earl's measurements:
  -- nav cam (0.1157 + 0.002,    -0.0422, -0.0825)
  -- dock cam (-0.1032 - 0.0025, -0.054, -0.0063)
  -- imu (0.014, 0.016, ???)

  -- body to nav cam
  nav_cam_transform        = transform(vec3(0.10092553, -0.035829837, -0.11337286), quat4(-0.48308168, -0.51481273, -0.51707214, -0.48397969)),
  dock_cam_transform       = transform(vec3(-0.15801738, -0.064582817, -0.039844101), quat4(0.51470371, -0.48270444, -0.4869356, 0.5147526)),
  imu_transform            = transform(vec3(0.014, 0.016, -0.0319625), quat4(0.0043601096, -0.0066617904, 0.75077957, 0.66050535))
};

robot_camera_calibrations = {
  nav_cam = {
    distortion_coeff=0.9984679695413576,
    intrinsic_matrix={
      611.0529144295888, 0.0, 637.9586438046298,
      0.0, 610.213041396481, 558.0507290999258,
      0.0, 0.0, 1.0
    },
    gain=0,
    exposure=160
  },
  dock_cam = {
    distortion_coeff=1.06251,
    intrinsic_matrix={
     830.0073133142722, 0.0, 566.9509633118676,
      0.0, 829.3261610590715, 529.2929442341774,
      0.0, 0.0, 1.0
    },
    gain=72,
    exposure=127
  }
}

robot_perch_cam_device = ""
robot_haz_cam_device   = "0005-1202-0034-2009"

agent_name = "sim"

heartbeat_queue_size = 15

nodes_not_running = {"flashlight_aft",
                     "flashlight_front",
                     "laser",
                     "llp_cpu_monitor",
                     "llp_disk_monitor",
                     "mlp_cpu_monitor",
                     "speed_cam"}
