-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

-- Declare the variables above as reconfigurable
parameters = {
  {
    id = "enable_obstacles",
    reconfigurable = true,
    type = "boolean",
    default = true,
    unit = "boolean",
    description = "Should we enable obstacles?"
  },{
    id = "use_haz_cam",
    reconfigurable = true,
    type = "boolean",
    default = true,
    unit = "boolean",
    description = "Should we use the haz cam for populating the octomap?"
  },{
    id = "use_perch_cam",
    reconfigurable = true,
    type = "boolean",
    default = false,
    unit = "boolean",
    description = "Should we use the perch cam for populating the octomap?"
  },{
    id = "map_resolution",
    reconfigurable = true,
    type = "double",
    default = 0.08,
    min = 0.01,
    max = 1,
    unit = "meters",
    description = "Resolution used for the voxels in the octomap."
  },{
    id = "max_range",
    reconfigurable = true,
    type = "double",
    default = 4.0,
    min = 0.1,
    max = 20,
    unit = "meters",
    description = "Maximum reliable range of the depth camera."
  },{
    id = "min_range",
    reconfigurable = true,
    type = "double",
    default = 0.2,
    min = 0.1,
    max = 5,
    unit = "meters",
    description = "Minimum reliable range of the depth camera."
  },{
    id = "memory_time",
    reconfigurable = true,
    type = "double",
    default = 10,
    min = -1.0,
    max = 1000,
    unit = "seconds",
    description = "How long the octomap remembers the fading memory map. It remembers forever when this variable is <= 0."
  },{
    id = "robot_radius",
    reconfigurable = true,
    type = "double",
    default = 0.28,
    min = 0.0,
    max = 1.0,
    description = "Radius of the robot considered in the planner (default is 0.16 * sqrt(3))",
    unit = "m"
  },{
    id = "collision_distance",
    reconfigurable = true,
    type = "double",
    default = 0.25,
    min = 0.01,
    max = 1,
    unit = "meters",
    description = "Minimum distance margin to maintain away from obstacles."
  },{
    id = "cam_fov",
    reconfigurable = true,
    type = "double",
    default = 0.85,
    min = 0.1,
    max = 3,
    unit = "radians",
    description = "Camera horizontal field-of-view. The octomap will only update the map within the fov of the depth cam."
  },{
    id = "cam_aspect_ratio",
    reconfigurable = true,
    type = "double",
    default = 1.3099,
    min = 0.1,
    max = 10,
    unit = "unitless",
    description = "Depth camera's width divided by height."
  },{
    id = "occupancy_threshold",
    reconfigurable = true,
    type = "double",
    default = 0.5,
    min = 0,
    max = 1,
    unit = "unitless",
    description = "Probability threshold above which a node is considered occupied."
  },{
    id = "probability_hit",
    reconfigurable = true,
    type = "double",
    default = 0.7,
    min = 0,
    max = 1,
    unit = "unitless",
    description = "Probability that a measured obstacle is an obstacle (detection probability)."
  },{
    id = "probability_miss",
    reconfigurable = true,
    type = "double",
    default = 0.25,
    min = 0,
    max = 1,
    unit = "unitless",
    description = "Probability that a measured free area is an obstacle (false alarm)."
  },{
    id = "clamping_threshold_min",
    reconfigurable = true,
    type = "double",
    default = 0.1,
    min = 0,
    max = 1,
    unit = "unitless",
    description = "Minimum probability assigned as occupancy for a node."
  },{
    id = "clamping_threshold_max",
    reconfigurable = true,
    type = "double",
    default = 0.9,
    min = 0,
    max = 1,
    unit = "unitless",
    description = "Maximum probability assigned as occupancy for a node."
  },{
    id = "traj_compression_max_dev",
    reconfigurable = true,
    type = "double",
    default = 0.01,
    min = 0.001,
    max = 1,
    unit = "meters",
    description = "Used in compressing a curve into a set of straight lines. The deviation of the straight lines w.r.t. the original curve is upper bounded by this parameter."
  },{
    id = "traj_compression_resolution",
    reconfigurable = true,
    type = "double",
    default = 0.02,
    min = 0.001,
    max = 1,
    unit = "meters",
    description = "The compressed trajectory is discretized into voxels with resolution given by this parameter."
  },{
    id = "collision_check_rate",
    reconfigurable = true,
    type = "double",
    default = 10,
    min = 1,
    max = 100,
    unit = "hertz",
    description = "Frequency at which the collision checker runs."
  },{
    id = "tf_update_rate",
    reconfigurable = true,
    type = "double",
    default = 10,
    min = 1,
    max = 100,
    unit = "hertz",
    description = "Frequency at which the tf listeners update tf data."
  },{
    id = "fading_memory_update_rate",
    reconfigurable = true,
    type = "double",
    default = 0.5,
    min = 0.1,
    max = 10,
    unit = "hertz",
    description = "Frequency at which the fading memory thread runs. Note that this can affect performance!"
  }
}
