<!-- Copyright (c) 2017, United States Government, as represented by the     -->
<!-- Administrator of the National Aeronautics and Space Administration.     -->
<!--                                                                         -->
<!-- All rights reserved.                                                    -->
<!--                                                                         -->
<!-- The Astrobee platform is licensed under the Apache License, Version 2.0 -->
<!-- (the "License"); you may not use this file except in compliance with    -->
<!-- the License. You may obtain a copy of the License at                    -->
<!--                                                                         -->
<!--     http://www.apache.org/licenses/LICENSE-2.0                          -->
<!--                                                                         -->
<!-- Unless required by applicable law or agreed to in writing, software     -->
<!-- distributed under the License is distributed on an "AS IS" BASIS,       -->
<!-- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or         -->
<!-- implied. See the License for the specific language governing            -->
<!-- permissions and limitations under the License.                          -->
<launch>
  <arg name="record" default="false" />
  <arg name="replay" default="false" />
  <arg name="rviz" default="false" />
  <arg name="bag_file" default="$(find visualeyez)/data/sample.bag" /> 
  <node pkg="nodelet" type="nodelet" args="manager"
        name="visualeyez_manager" output="screen" required="true"  />
  <group if="$(arg replay)">
    <node pkg="rosbag" type="play" name="player" 
          required="true" args="-l --clock --topics /visualeyez/data --bags $(arg bag_file)" />
  </group>
  <group unless="$(arg replay)">
    <node pkg="nodelet" type="nodelet" name="visualeyez_bridge" output="screen"
          args="load visualeyez/VisualeyezBridge visualeyez_manager"/>
    <group if="$(arg record)">
      <node pkg="rosbag" type="record" name="recorder" args="/visualeyez/data" />
    </group>
  </group>
  <node pkg="nodelet" type="nodelet" name="visualeyez_server" output="screen"
        args="load visualeyez/VisualeyezServer visualeyez_manager"/>
  <group if="$(arg rviz)">
    <node name="rviz_node" pkg="rviz" type="rviz" respawn="false"
          args="-d $(find visualeyez)/config/visualeyez.rviz" output="log" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="tf_rviz" args=" 0  0  0  1 0 0 0 world rviz" />
  </group>
</launch>