-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

-- This references transforms specified in geometry.config
require "geometry"

-- Declare the variables above as reconfigurable
parameters = {
  -- SERVICE CLIENT TIMEOUT VALUES
  {
    id = "timeout_enable_connected", reconfigurable = false, type = "double",
    default = 10.0, min = 0.1, max = 10, unit = "seconds",
    description = "Plan action timeout"
  -- ACTION CLIENT TIMEOUT VALUES
  },{
    id = "timeout_motion_connected", reconfigurable = false, type = "double",
    default = 10.0, min = 0.1, max = 10, unit = "seconds",
    description = "Time by which the motion action must be connected to"
  },{
    id = "timeout_motion_active", reconfigurable = false, type = "double",
    default = 1.0, min = 0.1, max = 10, unit = "seconds",
    description = "Time by which a motion goal must go active"
  },{
    id = "timeout_motion_response", reconfigurable = false, type = "double",
    default = 1.0, min = 0.1, max = 10, unit = "seconds",
    description = "Time by which motion feedback/response must be received"
  },{
    id = "timeout_arm_connected", reconfigurable = false, type = "double",
    default = 10.0, min = 0.1, max = 10, unit = "seconds",
    description = "Time by which the arm action must be connected to"
  },{
    id = "timeout_arm_active", reconfigurable = false, type = "double",
    default = 1.0, min = 0.1, max = 10, unit = "seconds",
    description = "Time by which a arm goal must go active"
  },{
    id = "timeout_arm_response", reconfigurable = false, type = "double",
    default = 1.0, min = 0.1, max = 10, unit = "seconds",
    description = "Time by which arm feedback/response must be received"
  },{
    id = "timeout_switch_connected", reconfigurable = false, type = "double",
    default = 10.0, min = 0.1, max = 10, unit = "seconds",
    description = "Time by which the validate action must be connected to"
  },{
    id = "timeout_switch_active", reconfigurable = false, type = "double",
    default = 10.0, min = 0.1, max = 10, unit = "seconds",
    description = "Time by which a validate goal must go active"
  },{
    id = "timeout_switch_response", reconfigurable = false, type = "double",
    default = 10.0, min = 0.1, max = 10, unit = "seconds",
    description = "Time by which validate feedback/response must be received"
  },{
    id = "timeout_switch_deadline", reconfigurable = false, type = "double",
    default = 10.0, min = 0.1, max = 10, unit = "seconds",
    description = "Time by which validate response must be received"
  }
}

-- The "approach" pose (20cm in front of handrail)
approach_pose = transform(vec3(0.20000, 0, 0), quat4(0.0, 0.0, 0.0, 1.0));

-- The "complete" pose (2cm behind handrail)
complete_pose = transform(vec3(-0.0200, 0, 0), quat4(0.0, 0.0, 0.0, 1.0));

-- The "attach" pose (2cm in front of handrail)
attached_pose = transform(vec3(0.02000, 0, 0), quat4(0.0, 0.0, 0.0, 1.0));
