<?xml version="1.0"?>

<!-- Copyright (c) 2017, United States Government, as represented by the     -->
<!-- Administrator of the National Aeronautics and Space Administration.     -->
<!--                                                                         -->
<!-- All rights reserved.                                                    -->
<!--                                                                         -->
<!-- The Astrobee platform is licensed under the Apache License, Version 2.0 -->
<!-- (the "License"); you may not use this file except in compliance with    -->
<!-- the License. You may obtain a copy of the License at                    -->
<!--                                                                         -->
<!--     http://www.apache.org/licenses/LICENSE-2.0                          -->
<!--                                                                         -->
<!-- Unless required by applicable law or agreed to in writing, software     -->
<!-- distributed under the License is distributed on an "AS IS" BASIS,       -->
<!-- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or         -->
<!-- implied. See the License for the specific language governing            -->
<!-- permissions and limitations under the License.                          -->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <link name="${prefix}carriage">
    <inertial>
      <mass value="9.8838"/>
      <origin xyz="0 0 -0.02"/>
      <!-- ixx and iyy are dummy values                        -->
      <inertia ixx="0.694860833" ixy="0.0" ixz="0.0" iyy="0.694860833" iyz="0.0" izz="0.0923"/>
    </inertial>
    <visual name="carriage_visual">
      <origin xyz="0 0 -0.02" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://astrobee_freeflyer/meshes/carriage.dae"/>
      </geometry>
    </visual>
    <collision name="carriage_collision">
      <origin xyz="0 0 -0.02" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://astrobee_freeflyer/meshes/carriage.dae"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="carriage_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="${prefix}body" />
    <child
      link="${prefix}carriage" />
  </joint>
  <gazebo reference="carriage">
    <kp>100000.0</kp>
    <kd>100000.0</kd>
    <mu1>0.0</mu1>
    <mu2>0.</mu2>
    <fdir1>0 0 1</fdir1>
  </gazebo>
</robot>
