<?xml version="1.0"?>

<!-- Copyright (c) 2017, United States Government, as represented by the     -->
<!-- Administrator of the National Aeronautics and Space Administration.     -->
<!--                                                                         -->
<!-- All rights reserved.                                                    -->
<!--                                                                         -->
<!-- The Astrobee platform is licensed under the Apache License, Version 2.0 -->
<!-- (the "License"); you may not use this file except in compliance with    -->
<!-- the License. You may obtain a copy of the License at                    -->
<!--                                                                         -->
<!--     http://www.apache.org/licenses/LICENSE-2.0                          -->
<!--                                                                         -->
<!-- Unless required by applicable law or agreed to in writing, software     -->
<!-- distributed under the License is distributed on an "AS IS" BASIS,       -->
<!-- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or         -->
<!-- implied. See the License for the specific language governing            -->
<!-- permissions and limitations under the License.                          -->

<robot name="orion" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- OPTIONS -->
  <xacro:property name="world" value="$(arg world)"/>
  <xacro:property name="pay_top_aft" value="$(arg top_aft)"/>
  <xacro:property name="pay_bot_aft" value="$(arg bot_aft)"/>
  <xacro:property name="pay_bot_front" value="$(arg bot_front)"/>
  <xacro:property name="ns" value="$(arg ns)"/>
  <xacro:property name="prefix" value="$(arg prefix)"/>
  <xacro:if value="${prefix == '/'}">
    <xacro:property name="prefix" value=""/>
  </xacro:if>

  <!-- BASE GEOMETRY -->
 <link name="${prefix}body">
    <self_collide>false</self_collide>
    <!-- body -->
    <visual name="body_visual">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://discower_platforms/meshes/proto.dae"/>
      </geometry>
    </visual>
    <collision name="body_collision">
      <origin xyz="0 0 0.25" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.5" radius="0.2"/>
      </geometry>
    </collision>
    
  </link>
  <!-- This is a workaround for KDL -->
  <link name="${prefix}inertial_link">
    <self_collide>false</self_collide>
    <inertial>
      <mass value="12.5"/>
      <origin xyz="0 0 0.2"/>
      <inertia ixx="0.1454" ixy="0.0" ixz="0.0" iyy="0.1366" iyz="0.0" izz="0.1594"/>
    </inertial>
  </link>
  <joint name="inertial_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="${prefix}body" />
    <child link="${prefix}inertial_link" />
  </joint>

  <!-- MODEL-->
  <xacro:include filename="$(find discower_description)/urdf/model_drag.urdf.xacro" />
  <xacro:include filename="$(find discower_description)/urdf/model_pmc.urdf.xacro" />
  <xacro:include filename="$(find discower_description)/urdf/model_truth.urdf.xacro" />
  <xacro:include filename="$(find discower_description)/urdf/model_speed_cam.urdf.xacro" />
  <!-- <xacro:include filename="$(find discower_description)/urdf/model_sitl.urdf.xacro" /> -->

  <!-- SENSORS -->
  <xacro:include filename="$(find discower_description)/urdf/sensor_imu.urdf.xacro" />
</robot>
