-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

-- SHARE TOPICS lists all local topics to be published to DDS.
-- RAPID SUBSCRIBERS lists all rapid subscribers that will be created to listen
--   external data. Must be a subscriber for every agent enabled or a failure
--   will occur.
-- AGENTS section allows to enable/disable and add more robots. It also allows to listen
--   more topics once they are implemented.
--
-- DO NOT change structure or topic names.

require "context"

-- Enable DDS communications on start --
-- If false, a trigger call will be needed to start communications --
started = false;

-- Shared individual topics from local instance --
share_topics = {
  {
    name = "TOPIC_GNC_EKF",
    enable = true,
    rate = 2
  }
}

-- Shared topic groups from local instance (for compatibility with DDS bridge) --
share_topic_groups = {
  -- Share TOPIC_GUEST_SCIENCE_DATA           --
  --       TOPIC_GUEST_SCIENCE_MANAGER_STATE  --
  --       TOPIC_GUEST_SCIENCE_MANAGER_CONFIG --
  {
    name = "TOPIC_GROUP_GS",
    enable = true,
    rate = -1
  }
}

-- Rapid subscribers --
rapid_sub_names = {"Bumble", "Honey", "Queen", "Bsharp", "Wannabee"}

-- External data management
agents = {
  {
    name = "Bumble",
    enable = true,
    topics = {
      { name = "TOPIC_GNC_EKF", enable = true },
      { name = "TOPIC_GUEST_SCIENCE_DATA", enable = true }
    }
  },
  {
    name = "Honey",
    enable = true,
    topics = {
      { name = "TOPIC_GNC_EKF", enable = true },
      { name = "TOPIC_GUEST_SCIENCE_DATA", enable = true }
    }
  },
  {
    name = "Queen",
    enable = true,
    topics = {
      { name = "TOPIC_GNC_EKF", enable = true },
      { name = "TOPIC_GUEST_SCIENCE_DATA", enable = true }
    }
  },
  {
    name = "Bsharp",
    enable = true,
    topics = {
      { name = "TOPIC_GNC_EKF", enable = true },
      { name = "TOPIC_GUEST_SCIENCE_DATA", enable = true }
    }
  },
  {
    name = "Wannabee",
    enable = true,
    topics = {
      { name = "TOPIC_GNC_EKF", enable = true },
      { name = "TOPIC_GUEST_SCIENCE_DATA", enable = true }
    }
  }
}
