-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

-- param for each bridge component use the following params --
--  ABREV = First Letters of Component Ex: ros_string_rapid_text_msg = RSRTM --
--   use_ABREV        bool:   turn this component on? --
--   sub_topic_ABREV  string: [ROS: subscribe topic] or [RAPID: subscribe topic suffix] --
--   pub_topic_ABREV  string: [ROS: publish topic] or [RAPID: publish topic suffix] --
--   queue_size_ABREV int:    queue size --

-- rapid_command_ros_command => RCRC --
use_RCRC = true
sub_topic_RCRC = ""

-- rapid_compressed_file_plan_ros_compressed_file_plan => RCFPRCFP --
use_RCFPRCFP = true
sub_topic_RCFPRCFP = ""

-- rapid_compressed_file_zones_ros_compressed_file_zones => RCFZRCFZ --
use_RCFZRCFZ = true
sub_topic_RCFZRCFZ = "-zones"

-- ros_access_control_state => RACS --
use_RACS = true
pub_topic_RACS = ""

-- ros_ack_rapid_ack => RARA --
use_RARA = true
pub_topic_RARA = ""

-- ros_agent_state_rapid_agent_state => RASRAS --
use_RASRAS = true
pub_topic_RASRAS = ""

-- ros_arm_joint_sample_rapid_arm_joint_sample => RAJSRAJS --
use_RAJSRAJS = true
pub_topic_RAJSRAJS = ""

-- ros_arm_state_rapid_arm_state => RARMRARM --
use_RARMRARM = true
pub_topic_RARMRARM = ""

-- ros_command_config_rapid_command_config => RCCRCC -
use_RCCRCC = true
pub_topic_RCCRCC = ""

-- ros_compressed_file_rapid_compressed_file => ROSCFRAPCF --
use_ROSCFRAPCF = true
pub_topic_ROSCFRAPCF  = "-current_plan"

-- ros_compressed_file_ack_rapid_compressed_file_ack => RCFARCFA --
use_RCFARCFA = true
pub_topic_RCFARCFA = ""

-- ros_compressed_dock_cam_image_rapid_image => RCDCIRI --
use_RCDCIRI = true
pub_topic_RCDCIRI = "-Dock"

-- ros_compressed_nav_cam_image_rapid_image => RCNCIRI --
use_RCNCIRI = true
pub_topic_RCNCIRI = "-Navigation"

-- ros_cpu_state_rapid_cpu_state => RCSRCS --
use_RCSRCS = true
pub_topic_RCSRCS = ""

-- ros_disk_state_rapid_disk_state => RDSRDS --
use_RDSRDS = true
pub_topic_RDSRDS = ""

-- ros_battery_state_rapid_battery_state => RBSRBS --
use_RBSRBS = true
pub_topic_RBSRBS = ""

-- ros_fault_config_rapid_fault_config => RFCRFC --
use_RFCRFC = true
pub_topic_RFCRFC = ""

-- ros_fault_state_rapid_fault_state => RFSRFS --
use_RFSRFS = true
pub_topic_RFSRFS = ""

-- ros_gnc_control_command_rapid_gnc_control_command => RGCCRGCC --
use_RGCCRGCC = true
pub_topic_RGCCRGCC = ""

-- ros_gnc_control_shaper_rapid_gnc_control_shaper => RGCSRGCS --
use_RGCSRGCS = true
pub_topic_RGCSRGCS = "-shaper"

-- ros_gnc_control_trajectory_rapid_gnc_control_trajectory => RGCTRGCT --
use_RGCTRGCT = true
pub_topic_RGCTRGCT = "-traj"

-- ros_guest_science_rapid_guest_science => RGSRGS --
use_RGSRGS = true
pub_topic_RGSRGS = ""

-- ros_odom_rapid_position => RORP --
use_RORP = true
pub_topic_RORP = ""

-- ros_plan_status_rapid_plan_status => RPSRPS --
use_RPSRPS = true
pub_topic_RPSRPS = ""

-- ros_string_rapid_text_message => RSRTM --
use_RSRTM = false

-- ros_telemetry_rapid_telemetry => RTRT --
use_RTRT = true
pub_topic_RTRT = ""

comm_status_rate = 1
cpu_state_rate = 0
disk_state_rate = 1
ekf_state_rate = 0
gnc_state_rate = 0
position_rate = 30

battery_time_round_to_multiple = 10;

cameras = {
  {name="nav_cam", valid_resolutions={"1280_960", "1024_768", "640_480", "320_240"}, mode="FRAMES", max_frame_rate=15},
  {name="dock_cam", valid_resolutions={"1280_960", "1024_768", "640_480", "320_240"}, mode="FRAMES", max_frame_rate=15},
  {name="sci_cam", valid_resolutions={"1920_1080", "1280_720", "960_540", "480_270"}, mode="VIDEO", max_frame_rate=30},
  {name="haz_cam", valid_resolutions={"224_172"}, mode="FRAMES", max_frame_rate=5},
  {name="perch_cam", valid_resolutions={"224_172"}, mode="FRAMES", max_frame_rate=5}}
