-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

require "context"

-- Covariance thresholds for rejecting ICP result 
position_covariance_threshold = 1
orientation_covariance_threshold = 1

-- Search radius for each point in ICP 
search_radius = 0.03

symmetric_objective = true
-- Only applicable for symmetric objective
enforce_same_direction_normals = true

-- ICP fitness score threshold for rejecting ICP result
fitness_threshold = 1

-- Use RANSAC AI algorithm to compute initial estimate
inital_estimate_with_ransac_ia = false 

correspondence_rejector_surface_normal = true
-- Threshold for cos(theta) where theta is the angle between two normals. Range from [0,1]
-- The closer to 1, the more aligned the normals are
correspondence_rejector_surface_normal_threshold = 0.75 

publish_point_clouds = false 
frame_change_transform = true

