-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

require "context"
 
-- Max time diff between successive depth measurements 
max_time_diff = 10

-- Max time diff for correlating image and point cloud measurements to create a depth measurement
-- This ideally have the same timestamp but sometimes vary slightly even though they are from 
-- the same measurement
max_image_and_point_cloud_time_diff = 0.05

-- Covariance thresholds for rejecting relative odometry result 
position_covariance_threshold = 100
orientation_covariance_threshold = 100

-- icp or image_feature
depth_odometry_method = "image_feature"

-- ICP options

-- Search radius for each point in ICP 
search_radius = 0.03

symmetric_objective = true
-- Only applicable for symmetric objective
enforce_same_direction_normals = true

-- ICP fitness score threshold for rejecting ICP result
fitness_threshold = 1
max_iterations = 10

-- Use RANSAC AI algorithm to compute initial estimate
inital_estimate_with_ransac_ia = false 

correspondence_rejector_surface_normal = true
-- Threshold for cos(theta) where theta is the angle between two normals. Range from [0,1]
-- The closer to 1, the more aligned the normals are
correspondence_rejector_surface_normal_threshold = 0.75 


-- Downsample options (either downsample or coarse to fine can be enabled, but not both)
downsample = true 
downsample_leaf_size = 0.03

-- coarse to fine options for ICP
coarse_to_fine = false 
num_coarse_to_fine_levels = 1
coarse_to_fine_downsample_ratio = 0.5
-- Final (smallest) leaf size
coarse_to_fine_final_leaf_size = 0.02
downsample_last_coarse_to_fine_iteration = true

-- Depth image aligner options

-- brisk, surf, lk_optical_flow
detector = "lk_optical_flow"
-- Brisk detector options
brisk_threshold = 120
brisk_octaves = 4
brisk_float_pattern_scale = 1
-- Brisk matching options
brisk_max_match_hamming_distance = 100 
brisk_flann_table_number = 3 
brisk_flann_key_size = 18
brisk_flann_multi_probe_level = 2
-- Surf options
surf_threshold = 1000
surf_max_match_distance = 0.25 
-- LK optical flow options
lk_max_iterations = 10
lk_termination_epsilon = 0.03
lk_window_width = 10
lk_window_height = 10
lk_max_level = 3
lk_min_eigen_threshold = 0.2
lk_max_flow_distance = 50
lk_max_backward_match_distance = 0.1
-- Good features to track options
lk_max_corners = 100
lk_quality_level = 0.01
lk_min_distance = 10
lk_block_size = 3
lk_use_harris_detector = false
lk_k = 0.04

-- CLAHE histogram equalization options
use_clahe = true 
clahe_grid_length = 8 
clahe_clip_limit = 40
-- Other
min_x_distance_to_border = 10 
min_y_distance_to_border = 10
min_num_inliers = 5

-- Point cloud with known correspondences aligner
pcwkca_max_num_iterations = 100
pcwkca_function_tolerance = 1e-6 
pcwkca_max_num_match_sets = 10000000 
pcwkca_normal_search_radius = 0.03 
pcwkca_use_umeyama_initial_guess = false 
pcwkca_use_single_iteration_umeyama = false 
pcwkca_use_point_to_plane_cost = false 
pcwkca_use_symmetric_point_to_plane_cost = false 
pcwkca_verbose_optimization = false 

publish_point_clouds = false 
