-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

require "context"
 
-- Max time diff between successive point clouds or depth images
max_time_diff = 10

-- Max time diff for correlating a depth image and point cloud measurement
max_image_and_point_cloud_time_diff = 0.05

-- Covariance thresholds for rejecting ICP result 
position_covariance_threshold = 1
orientation_covariance_threshold = 1

-- Pick registration method, ensure only one is set to true
depth_point_cloud_registration_enabled = false 
depth_image_registration_enabled = true

-- Search radius for each point in ICP 
search_radius = 0.03

symmetric_objective = true
-- Only applicable for symmetric objective
enforce_same_direction_normals = true

-- ICP fitness score threshold for rejecting ICP result
fitness_threshold = 1
max_iterations = 10

-- Use RANSAC AI algorithm to compute initial estimate
inital_estimate_with_ransac_ia = false 

correspondence_rejector_surface_normal = true
-- Threshold for cos(theta) where theta is the angle between two normals. Range from [0,1]
-- The closer to 1, the more aligned the normals are
correspondence_rejector_surface_normal_threshold = 0.75 

-- coarse to fine options for ICP
coarse_to_fine = true
num_coarse_to_fine_levels = 1
coarse_to_fine_downsample_ratio = 0.5
-- Final (smallest) leaf size
coarse_to_fine_final_leaf_size = 0.02
downsample_last_coarse_to_fine_iteration = true

-- brisk, surf, lk_optical_flow
detector = "lk_optical_flow"
-- Brisk detector options
brisk_threshold = 120
brisk_octaves = 4
brisk_float_pattern_scale = 1
-- Brisk matching options
brisk_max_match_hamming_distance = 100 
brisk_flann_table_number = 3 
brisk_flann_key_size = 18
brisk_flann_multi_probe_level = 2
-- Surf options
surf_threshold = 1000
surf_max_match_distance = 0.25 
-- LK optical flow options
lk_max_iterations = 10
lk_termination_epsilon = 0.03
lk_window_width = 31
lk_window_height = 31
lk_max_level = 3
lk_min_eigen_threshold = 0.001
lk_max_flow_distance = 180
lk_max_backward_match_distance = 0.5

-- CLAHE histogram equalization options
use_clahe = true 
clahe_grid_length = 8 
clahe_clip_limit = 40
-- RansacEstimateCamera options
num_ransac_iterations = 100
max_inlier_tolerance = 8 
-- Other
min_num_inliers = 5

publish_point_clouds = false 
frame_change_transform = true 
