-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.
require "context"

-- Factor Adders (fa)
--- Standstill
fa_standstill_enabled = true
fa_standstill_huber_k = world_huber_k 
fa_standstill_add_velocity_prior = true 
fa_standstill_add_pose_between_factor = true
fa_standstill_prior_velocity_stddev = 0.01
fa_standstill_pose_between_factor_translation_stddev = 0.01
fa_standstill_pose_between_factor_rotation_stddev = 0.01
--- VO
fa_vo_enabled = true
fa_vo_huber_k = world_huber_k 
fa_vo_max_num_factors = 13 
fa_vo_min_num_points_per_factor = 2 
fa_vo_max_num_points_per_factor = 7
fa_vo_min_avg_distance_from_mean = 0.075
fa_vo_robust = true 
fa_vo_rotation_only_fallback = true 
fa_vo_fix_invalid_factors = true 
fa_vo_scale_noise_with_num_points = true
fa_vo_noise_scale = 2
fa_vo_nav_cam_noise_stddev = 0.1 
---- Smart Factor
fa_vo_rotation_only_fallback = true 
fa_vo_enable_EPI = false 
fa_vo_landmark_distance_threshold = 500 
fa_vo_dynamic_outlier_rejection_threshold = 50
fa_vo_retriangulation_threshold = 1e-5 
fa_vo_verbose_cheirality = false 
---- Spaced Feature Tracker
fa_vo_remove_undetected_feature_tracks = true 
fa_vo_measurement_spacing = 2 
-- Node Adders (na)
--- Combined Nav State
na_cns_huber_k = world_huber_k 
na_cns_add_priors = true 
na_cns_ideal_duration = 3.25 
na_cns_min_num_states = 3 
na_cns_max_num_states = 20
na_cns_starting_pose_translation_stddev = 0.02 
na_cns_starting_pose_quaternion_stddev = 0.01
na_cns_starting_velocity_stddev = 0.01
na_cns_starting_accel_bias_stddev = 0.001
na_cns_starting_gyro_bias_stddev = 0.001
--- Combined Nav State Model
na_cns_model_huber_k = world_huber_k 
-- Optimizer (op)
--- Nonlinear
op_nl_marginals_factorization = "qr"
op_nl_max_iterations = 4 
op_nl_verbose = false 
op_nl_use_ceres_params = false 
-- Graph Optimizer (go)
--- Sliding Window 
go_sw_huber_k = world_huber_k 
go_sw_log_stats_on_destruction = false
go_sw_print_after_optimization = false
go_sw_add_marginal_factors = false 
go_sw_slide_window_before_optimization = true
-- Standstill
standstill_min_num_points_per_track = 4 
standstill_duration = 1 
standstill_max_avg_distance_from_mean = 0.075 
