-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.
require "context"

-- Graph VIO (gv)
-- Factor Adders (fa)
--- Standstill
gv_fa_standstill_enabled = true 
gv_fa_standstill_huber_k = world_huber_k 
gv_fa_standstill_add_velocity_prior = true 
gv_fa_standstill_add_pose_between_factor = true
gv_fa_standstill_prior_velocity_stddev = 0.01
gv_fa_standstill_pose_between_factor_translation_stddev = 0.01
gv_fa_standstill_pose_between_factor_rotation_stddev = 0.01
--- VO
gv_fa_vo_enabled = true
gv_fa_vo_huber_k = world_huber_k 
gv_fa_vo_max_num_factors = 8 
gv_fa_vo_min_num_points_per_factor = 2 
gv_fa_vo_max_num_points_per_factor = 6 
gv_fa_vo_min_avg_distance_from_mean = 0.075
gv_fa_vo_robust = true 
gv_fa_vo_rotation_only_fallback = true 
gv_fa_vo_fix_invalid_factors = true 
gv_fa_vo_scale_noise_with_num_points = true
gv_fa_vo_noise_scale = 2
gv_fa_vo_nav_cam_noise_stddev = 0.1 
---- Smart Factor
gv_fa_vo_rotation_only_fallback = true 
gv_fa_vo_enable_EPI = false 
gv_fa_vo_landmark_distance_threshold = 500 
gv_fa_vo_dynamic_outlier_rejection_threshold = 50
gv_fa_vo_retriangulation_threshold = 1e-5 
gv_fa_vo_verbose_cheirality = false 
---- Spaced Feature Tracker
gv_fa_vo_remove_undetected_feature_tracks = true 
gv_fa_vo_measurement_spacing = 2 
---- Depth Odometry
gv_fa_do_enabled = true 
gv_fa_do_huber_k = world_huber_k
gv_fa_do_use_points_between_factor = true 
gv_fa_do_pose_covariance_scale = 1 
gv_fa_do_point_noise_scale = 0.01 
gv_fa_do_scale_point_between_factors_with_inverse_distance = true
gv_fa_do_scale_point_between_factors_with_estimate_error = false 
gv_fa_do_reject_large_point_to_point_error = false
gv_fa_do_point_to_point_error_threshold = 10.0 
gv_fa_do_reject_large_translation_norm = false
gv_fa_do_pose_translation_norm_threshold = 3.0 
gv_fa_do_max_num_points_between_factors = 30 
-- Node Adders (na)
--- Combined Nav State
gv_na_cns_huber_k = world_huber_k 
gv_na_cns_add_priors = true 
gv_na_cns_ideal_duration = 3.25 
gv_na_cns_min_num_states = 3 
gv_na_cns_max_num_states = 8 
--- Combined Nav State Model
gv_na_cns_model_huber_k = world_huber_k 
-- Optimizer (op)
--- Nonlinear
gv_op_nl_marginals_factorization = "qr"
gv_op_nl_max_iterations = 6 
gv_op_nl_verbose = false 
gv_op_nl_use_ceres_params = false 
-- Graph Optimizer (go)
--- Sliding Window 
gv_go_sw_huber_k = world_huber_k 
gv_go_sw_log_stats_on_destruction = false
gv_go_sw_print_after_optimization = false
gv_go_sw_add_marginal_factors = false 
gv_go_sw_slide_window_before_optimization = true
-- Standstill
gv_standstill_min_num_points_per_track = 4 
gv_standstill_duration = 1 
gv_standstill_max_avg_distance_from_mean = 0.075 
