-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

require "context"

-- display
disp_computation_time = false   -- Display computation time
disp_marker = true              -- Display Rviz marker
disp_pcd_and_tf = true         -- Display TF and debug clouds
disp_depth_image = true        -- Display depth image
find_vertical_handrail = false

-- Handrail description
close_dist_to_handrail = 0.2
handrail_wall_min_gap = world_handrail_wall_min_gap
handrail_width = 0.025
handrail_length = 0.54
handrail_group_gap = 0.1
pcd_plane_rate = 0.3
width_filter_rate = 0.1
arm_length = 0.15

-- Downsampling parameters
min_measure_gap = 0.004
min_depth_dist = 0.1 
max_depth_dist = 1.5
max_num_line_points = 40
max_num_plane_points = 20

-- RANSAC related parameters
RANSAC_line_iteration = 30
RANSAC_plane_iteration = 20
RANSAC_line_thres = 0.02
RANSAC_plane_thres = 0.04

-- body_frame = "ground_truth"
perch_image_frame = "perch_cam"

-- Outlier Rejection parameters
outlier_tolerance = 0.15

