-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

-- Declare the variables above as reconfigurable
parameters = {
  {
    id = "pipeline",
    reconfigurable = false,
    type = "string",
    default = "ml",
    description = "Which localization mode should be used?",
    unit = "enumeration",
    values = {}
  },{
    id = "fallback",
    reconfigurable = false,
    type = "string",
    default = "ml",
    description = "Which localization mode should be used as a fall back mode",
    unit = "enumeration",
    values = {}
  },{
    id = "timeout_service_set_input",
    reconfigurable = false,
    type = "double",
    default = 30.0,
    min = 0.01,
    max = 10.0,
    description = "Timeout for the EKF set_input service to appear",
    unit = "seconds"
  },{
    id = "timeout_service_enable_of",
    reconfigurable = false,
    type = "double",
    default = 8.0,
    min = 0.01,
    max = 10.0,
    description = "Timeout for the optical flow enable service to appear",
    unit = "seconds"
  },{
    id = "timeout_service_bias",
    reconfigurable = false,
    type = "double",
    default = 8.0,
    min = 0.01,
    max = 10.0,
    description = "Timeout for the filter bias estimation service to appear",
    unit = "seconds"
  },{
    id = "timeout_service_reset",
    reconfigurable = false,
    type = "double",
    default = 8.0,
    min = 0.01,
    max = 10.0,
    description = "Timeout for filter reset service",
    unit = "seconds"
  },{
    id = "timeout_stability",
    reconfigurable = true,
    type = "double",
    default = 3.0,
    min = 0.1,
    max = 10,
    description = "How much time without error to be considered stable",
    unit = "seconds"
  },{
    id = "timeout_recovery",
    reconfigurable = true,
    type = "double",
    default = 10.0,
    min = 0.1,
    max = 10,
    description = "How much time without error to clear a localization fault",
    unit = "seconds"
  },{
    id = "timeout_deadline",
    reconfigurable = true,
    type = "double",
    default = 20.0,
    min = 0.1,
    max = 10,
    description = "Deadline for stability before action is abandoned",
    unit = "seconds"
  }
}

-- The pipeline configuration parameters (all timeouts must be less than the
-- "timeout_recovery" value above to avoid a fault-clear loop).
pipelines = {
  -- Disabled
  { id = "no", name = "Disabled", ekf_input = 3                               },
  -- Sparse mapping
  { id = "ml", name = "Sparse map", ekf_input = 0,
    needs_filter = true, optical_flow = true, timeout = 1.0, max_confidence = 0,
    enable_topic = "loc/ml/enable", enable_timeout = 20.0,
    reg_topic = "loc/ml/registration", reg_timeout = 2.0,
    feat_topic = "loc/ml/features", feat_timeout = 600.0, feat_threshold = 3    },
  -- AR Tags
  { id = "ar", name = "AR Tags", ekf_input = 1,
    needs_filter = true, optical_flow = true, timeout = 1.0, max_confidence = 0,
    enable_topic = "loc/ar/enable", enable_timeout = 10.0,
    reg_topic = "loc/ar/registration", reg_timeout = 1.0,
    feat_topic = "loc/ar/features", feat_timeout = 1.0, feat_threshold = 3    },
  -- Handrail
  { id = "hr", name = "Handrail", ekf_input = 2,
    needs_filter = true, optical_flow = true, timeout = 1.0, max_confidence = 0,
    enable_topic = "loc/hr/enable", enable_timeout = 10.0,
    reg_topic = "loc/hr/registration", reg_timeout = 5.0,
    depth_topic = "loc/hr/features", depth_timeout = 2.0, depth_threshold = 3 },
  -- Perch
  { id = "pl", name = "Perch", ekf_input = 4                                  },
  -- Ground truth
  { id = "gt", name = "Ground truth", ekf_input = 5                           }
}
