-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

-- Declare the variables above as reconfigurable
parameters = {
  {
    id = "pipeline", 
    reconfigurable = false,
    type = "string",
    default = "ml",
    description = "Which localization mode should be used?", 
    unit = "enumeration",
    values = {}
  },{ 
    id = "fallback", 
    reconfigurable = false,
    type = "string",
    default = "ml",
    description = "Which localization mode should be used as a fall back mode", 
    unit = "enumeration",
    values = {}
  },{
    id = "timeout_service_set_input",
    reconfigurable = false,
    type = "double", 
    default = 30.0,
    min = 0.01, 
    max = 10.0,
    description = "Timeout for the EKF set_input service to appear", 
    unit = "seconds"
  },{
    id = "timeout_service_enable_of",
    reconfigurable = false,
    type = "double", 
    default = 8.0,
    min = 0.01, 
    max = 10.0,
    description = "Timeout for the optical flow enable service to appear", 
    unit = "seconds"
  },{
    id = "maximum_confidence",
    reconfigurable = true,
    type = "integer", 
    default = 0,
    min = 0, 
    max = 2,
    description = "Minimum confidence required", 
    unit = "unitless"
  }, {
    id = "timeout_stability",
    reconfigurable = true,
    type = "double", 
    default = 1.0,
    min = 0.1, 
    max = 10,
    description = "Duration over which no errors must occur for EKF to be considered stable", 
    unit = "seconds"
  },{
    id = "enable_fallback",
    reconfigurable = true,
    type = "boolean",
    default = true,
    description = "If EKF or localization pipeline go unstable, fallback to safe pipeline",
    unit = "boolean"
  }
}
