-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.
require "context"

-- Ros Graph VIO (rgv)
-- Buffer max should be at least 10 and a max of 2 seconds of data
--- Imu ~62.5 Hz
rgv_max_imu_buffer_size = 125 
--- Feature point ~10 Hz
rgv_max_feature_point_buffer_size = 20 
--- Whether to use sparse map measurements during initialization or not
add_sparse_map_measurements_for_initialization = false 
--- How many feature point measurements should pass while adding sparse mapping 
--- measurements after initialization
feature_point_count_for_sm_initialization = 20
