-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.
require "context"

-- Ros graph localizer (rgl)
-- Measurement buffer size in between loc messages
rgl_max_relative_vio_buffer_size = 2000
-- Max duration (s) between vl msgs, if surpassed localizer is reset to avoid VIO msg overflow issues
rgl_max_duration_between_vl_msgs = 1000
-- Buffer max should be at least 10 and a max of 2 seconds of data
--- VIO ~15 Hz
rgl_max_graph_vio_state_buffer_size = 10
--- Vl ~1 Hz
rgl_max_vl_matched_projections_buffer_size = 10 
rgl_max_ar_tag_matched_projections_buffer_size = 10 
--- Imu ~62.5 Hz
rgl_max_imu_buffer_size = 125 
--- Feature point ~10 Hz
rgl_max_feature_point_buffer_size = 20 
--- Depth Odometry ~5 Hz
rgl_max_depth_odom_buffer_size = 5 
-- Set depth cloud and image buffer sizes to 1 so only the latest
-- data is used for inline depth odometry 
rgl_max_depth_image_buffer_size = 1 
rgl_max_depth_cloud_buffer_size = 1 
-- Others
rgl_run_depth_odometry = true 
rgl_publish_depth_odometry = true 
rgl_subscribe_to_depth_odometry = false 
rgl_extrapolate_dock_pose_with_imu = true
