-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

-- Unless you are on a high performance machine, ie. not in a virtualized
-- environment, with a decent processor and graphics card, enabling any
-- camera rendering (wide angle or depth) will consume significant resources.

-- If we are running a faster-than-realtime simulation, then we are likely
-- going to need to disable our cameras to achieve the required performance.

disable_cameras_on_speedup = true;

-- Increasing the camera sample rate incurs a high rendering and serialization
-- cost. Setting the rate to zero effectively disables the camera. By default
-- we only enable the haz_cam, because it's needed for obstacle detection.

nav_cam_rate   = 1.0;
dock_cam_rate  = 1.0;
perch_cam_rate = 5.0;
haz_cam_rate   = 5.0;
