##-----------------------------------------------------------------------------
## Commannds .gitignore. Ignores the xgds repo if the user has checked it out.
##-----------------------------------------------------------------------------

xgds_planner2
