<!-- Copyright (c) 2017, United States Government, as represented by the     -->
<!-- Administrator of the National Aeronautics and Space Administration.     -->
<!--                                                                         -->
<!-- All rights reserved.                                                    -->
<!--                                                                         -->
<!-- The Astrobee platform is licensed under the Apache License, Version 2.0 -->
<!-- (the "License"); you may not use this file except in compliance with    -->
<!-- the License. You may obtain a copy of the License at                    -->
<!--                                                                         -->
<!--     http://www.apache.org/licenses/LICENSE-2.0                          -->
<!--                                                                         -->
<!-- Unless required by applicable law or agreed to in writing, software     -->
<!-- distributed under the License is distributed on an "AS IS" BASIS,       -->
<!-- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or         -->
<!-- implied. See the License for the specific language governing            -->
<!-- permissions and limitations under the License.                          -->

<launch>
  <node pkg="rviz_visualizer" type="overhead_info" name="overhead_info" output="screen"/>
  <node pkg="image_proc" type="image_proc" name="overhead_proc" output="screen" ns="overhead">
	<!-- <param name="image" type="string" value="image_raw" />   -->
  </node>
  <node pkg="tf2_ros" type="static_transform_publisher" name="overhead_broadcaster" args="-0.0298071 -0.0299694 -1.77214 -0.00364484 -0.00690258 -0.717329 0.696691 world overhead" />
</launch>