*.build
*.changes
*.dsc
*.tar.xz
*.tar.gz
*.deb
*.ddeb
*.buildinfo
libar_track_alvar_msgs
libar_track_alvar
libdeepdive
libdbow2
libgtsam
libgtsamlib
libdbowdlib
libopenmvg
libdecomputil
libjps3d
libmiro
libsoracore
libopencv-xfeatures2d
