Source: astrobee
Priority: optional
Maintainer: Astrobee Flight Software <astrobee-fsw@nx.arc.nasa.gov>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Section: libs
Homepage: http://github.com/nasa/astrobee
#Vcs-Git: git://anonscm.debian.org/collab-maint/astrobee.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/astrobee.git

Package: astrobee-dev
Section: libdevel
Architecture: any
Depends: astrobee0 (= ${binary:Version}), ${misc:Depends}
  libgoogle-glog-dev, libgtest-dev, libgflags-dev,
  libace-dev, libqt4-dev,
  protobuf-compiler, libv4l-dev, libeigen3-dev, libluajit-5.1-dev,
  libjsoncpp-dev, libtinyxml-dev, libyaml-cpp-dev, libusb-1.0-0-dev,
  libalvar-dev, libdbow2-dev, libopenmvg-dev, libroyale-dev, libceres-dev, rti-dev,
  libsoracore-dev, libmiro-dev, libdecomputil-dev, libjps3d-dev
Description: Astrobee flight software development files.
 The Astrobee flight software development files.

Package: astrobee-config
Section: misc
Architecture: any
Depends: ${misc:Depends}
Description: Astrobee flight software configuration.
 The Astrobee flight software configuration files.

Package: astrobee0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
  astrobee-config (>= ${binary:Version}),
  libalvar2 (>=2.0), libdbow21 (>=0.1), libopenmvg1 (>=1.0), libroyale1 (>=1.0),
  libceres1 (>=1.0), rti (>=1.0), libmiro0 (>=0.1), libsoracore1 (>=1.0),
  libdecomputil0 (>=0.1), libjps3d0 (>=0.1),
  libluajit-5.1-2,
  ros-kinetic-ros-base, ros-kinetic-cpp-common, ros-kinetic-rosbag,
  ros-kinetic-common-msgs, ros-kinetic-nodelet, ros-kinetic-pluginlib,
  ros-kinetic-actionlib, ros-kinetic-image-transport,
  ros-kinetic-compressed-image-transport, ros-kinetic-tf2,
  ros-kinetic-tf2-eigen, ros-kinetic-tf2-geometry-msgs,
  ros-kinetic-tf2-kdl, ros-kinetic-tf2-msgs, ros-kinetic-tf2-ros,
  ros-kinetic-tf2-sensor-msgs, ros-kinetic-message-filters,
  ros-kinetic-robot-state-publisher, ros-kinetic-rosconsole, ros-kinetic-roscpp,
  ros-kinetic-rosgraph, ros-kinetic-rosgraph-msgs,
  ros-kinetic-roslaunch, ros-kinetic-rosmaster, ros-kinetic-rosmsg,
  ros-kinetic-rosnode, ros-kinetic-rosout, ros-kinetic-rosparam,
  ros-kinetic-rosservice, ros-kinetic-rostopic, ros-kinetic-roswtf,
  ros-kinetic-std-srvs, ros-kinetic-topic-tools, ros-kinetic-xmlrpcpp,
  ros-kinetic-opencv3,
  libjsoncpp1, libprotoc9v5, libgoogle-glog0v5,
  libtinyxml2.6.2v5, libyaml-cpp0.5v5
Description: Astrobee flight software.
 The Astrobee flight software.
