#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_OPTIONS = parallel=`nproc`
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
export EXTRA_CMAKE_OPTS
export LIB_SEARCH_OPTIONS

ifeq ($(DEB_HOST_ARCH),armhf)
#   export EXTRA_CMAKE_OPTS=-DCMAKE_TOOLCHAIN_FILE=../scripts/build/ubuntu_cross.cmake -DUSE_CTC=true
	# stripping doesn't work with the cross compile
  #export DEB_BUILD_OPTIONS += nostrip
	export LIB_SEARCH_OPTIONS = -l$(ARMHF_CHROOT_DIR)/opt/rti/ndds/lib/armv6vfphLinux3.xgcc4.7.2:$(ARMHF_CHROOT_DIR)/opt/ros/kinetic/lib:$(ARMHF_CHROOT_DIR)/opt/ros/kinetic/lib/arm-linux-gnueabihf:$(ARMHF_CHROOT_DIR)/lib:$(ARMHF_CHROOT_DIR)/usr/lib:$(ARMHF_CHROOT_DIR)/usr/lib/arm-linux-gnueabihf:$(ARMHF_CHROOT_DIR)/lib/arm-linux-gnueabihf -- --ignore-missing-info --admindir=$(ARMHF_CHROOT_DIR)/var/lib/dpkg 
	export DEB_MAINT_CC_SET = $(ARMHF_TOOLCHAIN)/bin/arm-linux-gnueabihf-gcc
	export DEB_MAINT_CXX_SET = $(ARMHF_TOOLCHAIN)/bin/arm-linux-gnueabihf-g++
else
	export LIB_SEARCH_OPTIONS = -l/opt/ros/kinetic/lib:/opt/ros/kinetic/lib/x86_64-linux-gnu:/usr/lib/x86_64-linux-gnu/gazebo-7/plugins
endif

# skip build for config files
build-indep: ;
	mkdir -p build

%:
	dh $@ --buildsystem=cmake --builddirectory=build/ --parallel

# we always need release, otherwise it is too slow
override_dh_auto_configure:
	# configure the build
	cd .. && \
	./src/scripts/configure.sh -a -w $(ARMHF_CHROOT_DIR)/home/debian/tmp && \
	catkin clean -y --force
override_dh_auto_build: ;

# the install command is already invoked in the build
override_dh_auto_install:
	cd .. && \
	catkin build && \
	cp -R $(ARMHF_CHROOT_DIR)/home/debian/tmp src/debian

override_dh_install:
	dh_movefiles
	dh_install

override_dh_auto_test: ;

#override_dh_auto_install-idep:
#	@
#
#override_dh_auto_install:
#	dh_auto_install
#
override_dh_shlibdeps:
	dh_shlibdeps $(LIB_SEARCH_OPTIONS)

