<!-- Copyright (c) 2017, United States Government, as represented by the     -->
<!-- Administrator of the National Aeronautics and Space Administration.     -->
<!--                                                                         -->
<!-- All rights reserved.                                                    -->
<!--                                                                         -->
<!-- The Astrobee platform is licensed under the Apache License, Version 2.0 -->
<!-- (the "License"); you may not use this file except in compliance with    -->
<!-- the License. You may obtain a copy of the License at                    -->
<!--                                                                         -->
<!--     http://www.apache.org/licenses/LICENSE-2.0                          -->
<!--                                                                         -->
<!-- Unless required by applicable law or agreed to in writing, software     -->
<!-- distributed under the License is distributed on an "AS IS" BASIS,       -->
<!-- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or         -->
<!-- implied. See the License for the specific language governing            -->
<!-- permissions and limitations under the License.                          -->


<!-- Runs required nodes for localization and the provided bag.  Remaps      -->
<!-- topics and sets necessary params and configs. Optionally save output to -->
<!-- a bagfile.                                                              -->

<launch>
  <!-- Command line arguments -->
  <arg name="bagfile"/>             
  <arg name="record" default="false" />
  <arg name="imu_augmentor" default="false" />
  <arg name="robot" default="bumble" />
  <arg name="world" default="iss" />
  <arg name="localization_manager" default="false" />
  <arg name="service_calls" default="true" unless="$(arg localization_manager)"/>     
  <arg name="service_calls" value="false" if="$(arg localization_manager)" />   

  <!-- Set environment configs that are required to run nodes -->
  <env name="ASTROBEE_ROBOT" value="$(arg robot)" />
  <env name="ASTROBEE_WORLD" value="$(arg world)" />
  <env name="ASTROBEE_CONFIG_DIR" value="$(find astrobee)/config" />
  <env name="ASTROBEE_RESOURCE_DIR" value="$(find astrobee)/resources" />

  <!-- Set params -->
  <param name="use_sim_time" value="true"/> 

  <!-- Topic Remappings -->
  <remap from="/mgt/img_sampler/nav_cam/image_record" to="/hw/cam_nav"/>
  <remap from="/gnc/ekf" to="/bag/gnc/ekf"/>

  <!-- Record output if required -->
  <group if="$(arg record)">
    <arg name="output_bagfile"/>             
    <include file="$(find astrobee)/launch/offline_localization/launch/record_localization.launch">
      <arg name="terminal" value="terminator -x"/>
      <arg name="output_bagfile" value="$(arg output_bagfile)"/>
    </include>
  </group>

  <!-- Run imu augmentor if required -->
  <group if="$(arg imu_augmentor)">
    <include file="$(find imu_augmentor)/launch/imu_augmentor.launch">
      <arg name="terminal" value="terminator -x"/>
    </include>
  </group>

  <!-- Nodes to run -->
  <include file="$(find lk_optical_flow)/launch/lk_optical_flow.launch">
    <arg name="terminal" value="terminator -x"/>
  </include>
  <include file="$(find localization_node)/launch/localization_node.launch">
    <arg name="terminal" value="terminator -x"/>
  </include>
  <include file="$(find graph_localizer)/launch/graph_localizer.launch">
    <arg name="terminal" value="terminator -x"/>
  </include>
  <group if="$(arg localization_manager)">
    <include file="$(find localization_manager)/launch/localization_manager.launch">
      <arg name="terminal" value="terminator -x"/>
    </include>
  </group>
  <node pkg="rosbag" type="play" name="player" output="screen" args="--clock $(arg bagfile)"/>

  <!-- Service calls -->
  <group if="$(arg service_calls)">
    <!-- Add 'wait' here so nodes are running before the service calls are made -->
    <include file="$(find astrobee)/launch/offline_localization/service_calls/enable_lk_optical_flow_srv.launch">
    </include>
    <include file="$(find astrobee)/launch/offline_localization/service_calls/estimate_bias_srv.launch">
    </include>
  </group>
  <!-- Localization manager doesn't enable sparse mapping so always manually call enable -->
  <include file="$(find astrobee)/launch/offline_localization/service_calls/enable_sparse_mapping_srv.launch">
  </include>

</launch>
