<?xml version="1.0"?>

<!-- Copyright (c) 2017, United States Government, as represented by the     -->
<!-- Administrator of the National Aeronautics and Space Administration.     -->
<!--                                                                         -->
<!-- All rights reserved.                                                    -->
<!--                                                                         -->
<!-- The Astrobee platform is licensed under the Apache License, Version 2.0 -->
<!-- (the "License"); you may not use this file except in compliance with    -->
<!-- the License. You may obtain a copy of the License at                    -->
<!--                                                                         -->
<!--     http://www.apache.org/licenses/LICENSE-2.0                          -->
<!--                                                                         -->
<!-- Unless required by applicable law or agreed to in writing, software     -->
<!-- distributed under the License is distributed on an "AS IS" BASIS,       -->
<!-- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or         -->
<!-- implied. See the License for the specific language governing            -->
<!-- permissions and limitations under the License.                          -->

<robot name="astrobee" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- GEOMETRY -->

  <xacro:include filename="$(find astrobee_description)/urdf/astrobee_base_link.urdf.xacro" />

  <!-- MODEL -->
  <xacro:include filename="$(find astrobee_description)/urdf/astrobee_model_drag.urdf.xacro" />
  <xacro:include filename="$(find astrobee_description)/urdf/astrobee_model_pmc.urdf.xacro" />
  <xacro:include filename="$(find astrobee_description)/urdf/astrobee_model_eps.urdf.xacro" />
  <xacro:include filename="$(find astrobee_description)/urdf/astrobee_model_truth.urdf.xacro" />
  <xacro:include filename="$(find astrobee_description)/urdf/astrobee_model_laser.urdf.xacro" />
  <xacro:include filename="$(find astrobee_description)/urdf/astrobee_model_flashlights.urdf.xacro" />

  <!-- SENSORS -->

  <xacro:include filename="$(find astrobee_description)/urdf/astrobee_sensor_imu.urdf.xacro" />
  <xacro:include filename="$(find astrobee_description)/urdf/astrobee_sensor_nav_cam.urdf.xacro" />
  <xacro:include filename="$(find astrobee_description)/urdf/astrobee_sensor_dock_cam.urdf.xacro" />
  <xacro:include filename="$(find astrobee_description)/urdf/astrobee_sensor_haz_cam.urdf.xacro" />
  <xacro:include filename="$(find astrobee_description)/urdf/astrobee_sensor_perch_cam.urdf.xacro" />

  <!-- WORLD SPECIFIC OPTIONS -->

  <xacro:include filename="$(find astrobee_description)/urdf/astrobee_macro_perching_arm.urdf.xacro" />
  <xacro:include filename="$(find astrobee_description)/urdf/astrobee_macro_tracker.urdf.xacro" />
  <xacro:property name="ace" value="$(arg world)"/>

  <!-- GRANITE -->

  <xacro:if value="${ace == 'granite'}">
    <xacro:include filename="$(find astrobee_description)/urdf/astrobee_carriage.urdf.xacro" />
    <xacro:perching_arm bay="top_aft"
                        xyz="-0.01 0.0 -0.065"
                        rpy="0.0 3.1415 0.0" />
    <xacro:tracker serial="LHR-08DE340B"
                   xyz="0.000843832446026 0.146634271310568 0.157241624336630"
                   rpy="0 0 0" />
    <xacro:tracker serial="LHR-08DDBC05"
                   xyz="-0.003818695342796 0.141998121661166 0.161397648714532"
                   rpy="0 0 0" />
  </xacro:if>

  <!-- MGTF -->

  <xacro:if value="${ace == 'mgtf'}">
    <xacro:tracker serial="LHR-1FC0DEF4"
                   xyz="0.000843832446026 0.146634271310568 0.157241624336630"
                   rpy="0 0 0" />
    <xacro:tracker serial="LHR-09DF88FD"
                   xyz="-0.003818695342796 0.141998121661166 0.161397648714532"
                   rpy="0 0 0" />
  </xacro:if>

  <!-- ISS -->

  <xacro:if value="${ace == 'iss'}">
    <xacro:perching_arm bay="top_aft" 
                        xyz="-0.01 0.0 -0.065" 
                        rpy="0.0 3.1415 0.0" />
  </xacro:if>

</robot>