<?xml version="1.0"?>

<!-- Copyright (c) 2017, United States Government, as represented by the     -->
<!-- Administrator of the National Aeronautics and Space Administration.     -->
<!--                                                                         -->
<!-- All rights reserved.                                                    -->
<!--                                                                         -->
<!-- The Astrobee platform is licensed under the Apache License, Version 2.0 -->
<!-- (the "License"); you may not use this file except in compliance with    -->
<!-- the License. You may obtain a copy of the License at                    -->
<!--                                                                         -->
<!--     http://www.apache.org/licenses/LICENSE-2.0                          -->
<!--                                                                         -->
<!-- Unless required by applicable law or agreed to in writing, software     -->
<!-- distributed under the License is distributed on an "AS IS" BASIS,       -->
<!-- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or         -->
<!-- implied. See the License for the specific language governing            -->
<!-- permissions and limitations under the License.                          -->

<robot name="astrobee" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Base platform -->
  <xacro:include filename="$(find astrobee_description)/urdf/astrobee_body.urdf.xacro" />

  <!-- Modify the platform based on the world --> 
  <xacro:property name="ace" value="$(arg world)"/>
  <xacro:if value="${ace == 'granite'}">
    <xacro:include filename="$(find astrobee_description)/urdf/astrobee_carriage.urdf.xacro" />
    <xacro:include filename="$(find astrobee_description)/urdf/macro_perching_arm.urdf.xacro" />
    <xacro:perching_arm bay="top_aft" xyz="-0.01 0.0 -0.065" rpy="0.0 3.1415 0.0" />
  </xacro:if>
  <xacro:if value="${ace == 'iss'}">
    <xacro:include filename="$(find astrobee_description)/urdf/macro_perching_arm.urdf.xacro" />
    <xacro:perching_arm bay="top_aft" xyz="-0.01 0.0 -0.065" rpy="0.0 3.1415 0.0" />
  </xacro:if>

  <!-- Base model plugins -->
  <xacro:include filename="$(find astrobee_description)/urdf/model_pmc.urdf.xacro" />
  <xacro:include filename="$(find astrobee_description)/urdf/model_truth.urdf.xacro" />
  <xacro:include filename="$(find astrobee_description)/urdf/model_laser.urdf.xacro" />
  <xacro:include filename="$(find astrobee_description)/urdf/model_flashlights.urdf.xacro" />

  <!-- Aerodynamics -->
  <!--
  <xacro:include filename="$(find astrobee_description)/urdf/model_drag.urdf.xacro" />
  -->

  <!-- Base Sensor plugins -->
  <xacro:include filename="$(find astrobee_description)/urdf/sensor_imu.urdf.xacro" />
  <xacro:include filename="$(find astrobee_description)/urdf/sensor_nav_cam.urdf.xacro" />
  <xacro:include filename="$(find astrobee_description)/urdf/sensor_dock_cam.urdf.xacro" />
  <xacro:include filename="$(find astrobee_description)/urdf/sensor_haz_cam.urdf.xacro" />
  <xacro:include filename="$(find astrobee_description)/urdf/sensor_perch_cam.urdf.xacro" />

</robot>