Source: libdbowdlib
Priority: optional
Maintainer: Brian Coltin <nospam@nospam.org>
Build-Depends: debhelper (>=9), cmake (>=3.5)
Standards-Version: 3.9.7
Section: libs
Homepage: https://github.com/dorian3d/DLib

Package: libdbowdlib-dev
Section: libdevel
Architecture: any
Depends: libdbowdlib1 (= ${binary:Version}), ${misc:Depends}
Description: Database of visual features helper.
 Helper ibrary for a database of visual features for finding similar images.

Package: libdbowdlib1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Database of visual features helper.
 Helper library for a database of visual features for finding similar images.
