<!-- Copyright (c) 2017, United States Government, as represented by the     -->
<!-- Administrator of the National Aeronautics and Space Administration.     -->
<!--                                                                         -->
<!-- All rights reserved.                                                    -->
<!--                                                                         -->
<!-- The Astrobee platform is licensed under the Apache License, Version 2.0 -->
<!-- (the "License"); you may not use this file except in compliance with    -->
<!-- the License. You may obtain a copy of the License at                    -->
<!--                                                                         -->
<!--     http://www.apache.org/licenses/LICENSE-2.0                          -->
<!--                                                                         -->
<!-- Unless required by applicable law or agreed to in writing, software     -->
<!-- distributed under the License is distributed on an "AS IS" BASIS,       -->
<!-- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or         -->
<!-- implied. See the License for the specific language governing            -->
<!-- permissions and limitations under the License.                          -->

<launch>
  <arg name="world" />      <!-- World name                -->
  <arg name="ns" />         <!-- Robot namespace           -->
  <arg name="sim" />        <!-- SIM IP address            -->
  <arg name="pose" />       <!-- Initial pose (sim only)   -->
  <arg name="bag" />        <!-- Bag to replay             -->

  <group if="$(eval arg('bag')=='')" >
    <!-- Connect and update environment variables if required -->
    <machine unless="$(eval arg('sim')=='local')" name="sim_server" default="true"
             address="$(arg sim)" user="astrobee" password="astrobee" timeout="10"/>

    <!-- Update the environment variables relating to absolute paths -->
    <env unless="$(eval arg('sim')=='local')"
         name="ASTROBEE_CONFIG_DIR" value="/home/astrobee/native/config" />
    <env unless="$(eval arg('sim')=='local')"
         name="ASTROBEE_RESOURCE_DIR" value="home/astrobee/native/resources" />
    <env unless="$(eval arg('sim')=='local')"
         name="ROSCONSOLE_CONFIG_FILE" value="/home/astrobee/native/resources/logging.config"/>
    <env unless="$(eval arg('sim')=='local')"
         name="DISPLAY" value=":0"/>
    <env unless="$(eval arg('sim')=='local')"
         name="ROS_IP" value="$(arg sim)"/>

    <!-- Launch simulated hardware -->
    <include file="$(find astrobee_gazebo)/launch/spawn_astrobee.launch">
      <arg name="ns" value="$(arg ns)"/>
      <arg name="pose" value="$(arg pose)"/>
    </include>
  </group>

  <!-- We only get here if we have a valid bag specificied, no simulator will load -->
  <group unless="$(eval arg('bag')=='')" >
    <include file="$(find astrobee)/launch/controller/bagreplay.launch">
      <arg name="bag" value="$(arg bag)" />
    </include>
  </group>

 </launch>
