-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

require "context"

camera = "nav_cam"

calibrate_focal_lengths = true 
calibrate_principal_points = true 
calibrate_distortion = true
calibrate_target_poses = true 

-- fov, rad, or radtan
distortion_type = "rad"

-- Calibration optimizer params
calibrator_max_num_iterations = 100
calibrator_function_tolerance = 1e-8
calibrator_parameter_tolerance = 1e-8
calibrator_verbose_optimization = true
calibrator_huber_loss = 1.345
-- dense_qr, dense_schur, sparse_normal_cholesky, sparse_schur, iterative_schur
-- Favor dense_qr or dense_schur for smaller/medium sized problems
-- Favor iterative schur for large problems
calibrator_linear_solver = "iterative_schur" 
calibrator_use_explicit_schur_complement = false 
scale_loss_radially = false 
radial_scale_power = 1 
-- ReprojectionPoseEstimate optimizer params
reprojection_optimize_estimate = true
reprojection_max_num_iterations = 100
reprojection_function_tolerance = 1e-8
reprojection_parameter_tolerance = 1e-8
reprojection_verbose_optimization = true
reprojection_huber_loss = 1.345
reprojection_linear_solver = "dense_qr" 
reprojection_use_explicit_schur_complement = false 
-- RansacPnP params
ransac_max_inlier_threshold = 3.0
ransac_num_iterations = 100
ransac_min_num_inliers = 4 
-- p3p, epnp, ap3p, or it
ransac_pnp_method = "p3p"
-- Data Loading Params
max_num_match_sets = 10000 
min_num_target_inliers = 4
only_use_inliers = true

-- Other
image_width = 1280
image_height = 960
max_visualization_error_norm = 50
save_individual_initial_reprojection_images = true 
individual_max_visualization_error_norm = 50
