-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

require "context"

camera = "nav_cam"

calibrate_intrinsics = false 
calibrate_distortion = true 

-- Optimizer Params
max_num_iterations = 100
function_tolerance = 1e-8
-- dense_qr, dense_schur, sparse_normal_cholesky, sparse_schur, iterative_schur
-- Favor dense_qr or dense_schur for smaller/medium sized problems
-- Favor iterative schur for large problems
linear_solver = "dense_qr" 
use_explicit_schur_complement = true
-- Data Loading Params
max_num_match_sets = 10000 

-- fov or radtan
distortion_type = "fov"
