-- imu
imu_msg_delay = 0
imu_min_msg_spacing = 0
-- optical flow
of_msg_delay = 0
of_min_msg_spacing = 0
-- sparse mapping 
vl_msg_delay = 0 
vl_min_msg_spacing = 0 
-- april tag 
ar_msg_delay = 0
ar_min_msg_spacing = 0
-- graph_localizer_simulator
optimization_time = 0.45
-- Other
use_image_features = false;
save_optical_flow_images = false;
