-- imu
imu_msg_delay = 0
imu_min_msg_spacing = 0
-- optical flow
of_msg_delay = 0.1
of_min_msg_spacing = 0
-- sparse mapping 
vl_msg_delay = 1.5 
vl_min_msg_spacing = 1
-- april tag 
ar_msg_delay = 0.1
ar_min_msg_spacing = 0
-- graph_localizer_simulator
optimization_time = 0.3
-- Other
use_image_features = false;
save_optical_flow_images = false;
