-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

-- LiveMeasurementSimulator 
--- imu
or_imu_msg_delay = 0
or_imu_min_msg_spacing = 0
--- flight_mode 
or_flight_mode_msg_delay = 0
or_flight_mode_min_msg_spacing = 0
--- depth odometry
or_depth_odometry_msg_delay = 0
or_depth_odometry_min_msg_spacing = 0
--- depth image
or_depth_image_msg_delay = 0
or_depth_image_min_msg_spacing = 0
--- depth cloud
or_depth_cloud_msg_delay = 0
or_depth_cloud_min_msg_spacing = 0
--- optical flow
or_of_msg_delay = 0
or_of_min_msg_spacing = 0
--- sparse mapping 
or_vl_msg_delay = 0 
or_vl_min_msg_spacing = 0 
--- april tag 
or_ar_msg_delay = 0
or_ar_min_msg_spacing = 0
---  vio 
or_vio_msg_delay = 0
or_vio_min_msg_spacing = 0

-- graph_localizer_simulator
or_loc_optimization_time = 0.05

-- graph_vio_simulator
or_vio_optimization_time = 0.30

-- Other
or_save_optical_flow_images = false
or_use_bag_depth_odom_msgs = false 
or_log_relative_time = false
or_ar_min_num_landmarks = 5
or_sparse_mapping_min_num_landmarks = 5
