-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

require "context"

-- The server listens on this port for incoming raw measurements from Visualeyez
server_addr = "127.0.0.1";
server_port = 9090;

-- The server listens on this port for incoming raw measurements from Visualeyez
client_host = "127.0.0.1";
client_port = 9090;

-- Whether to publish TF2 transforms (platform/truth)
pub_tf = true;

-- Grounding matrix: Position of grounding LEDs in the WORLD frame [TCM LED X Y Z]
-- This enables us to move the Visualeyez tracker but maintain a common reference frame
-- These coordinates were obtained using a theodolite, which provides mm-level accuracy.
grounding = world_visualeyez_grounding

-- Target matrix - a list of LEDS for each target. These LEDs are assumed to be rigid
-- with respect to each other. Their coordinates will be calibrated as part of the
-- tracking system and written to a binary calibration file.
targets = world_visualeyez_targets

-- The calibration file for the system
calibration_file = world_visualeyez_calibration