-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

-- Common matric and geometry code
require "common_lua"
require "matrix"

-- Configuration for the vive tracking system
vive = {
  -- Number of connection retries to OpenVR
  retries = 5,
  -- Rate at which transforms are transmitted
  rate = 100.0,
  -- List of trackers and the frames to which they should be statically bound [LHB-AEFC56F1]
  transforms = {
    { parent = "world", child = "rviz",
      translation = vec3(0.0, 0.0, 0.0), rotation = quat4(1.0, 0.0, 0.0, 0.0) },
    { parent = "world", child = "vive",
      translation = vec3(-0.811478282460637, -0.961062515734659, -0.747138226577553), rotation = quat4(-0.273550958937749, -0.649398073801216, 0.654842734824648, 0.273190423065822) },
    { parent = "LHR-09DF88FD", child = "marker",
      translation = vec3(0.0, 0.0, 0.0), rotation = quat4(0.0, 0.0, 0.0, 1.0) },
    { parent = "LHR-08DE340B", child = "p4c/port",
      translation = vec3(0.000843832446026, 0.146634271310568, 0.157241624336630), rotation = quat4(0.009176971475662, -0.706049320346152, -0.708089108350749, 0.004467109615012) },
    { parent = "LHR-08DDBC05", child = "p4c/stbd",
      translation = vec3(-0.003818695342796, 0.141998121661166, 0.161397648714532), rotation = quat4(-0.716234675178178, 0.002032997467952, -0.001427090818859, 0.697855085533881) },
    { parent = "LHR-FFCC1D43", child = "pointer",
      translation = vec3(-0.000817545766830, -0.017798082970773, -0.046295936229251), rotation = quat4(0.0, 0.0, 0.0, 1.0) },
    { parent = "world", child = "handrail",
      translation = vec3(0.924898379677564, 0.012824625337555, -0.612651993258273), rotation = quat4(0.0, 0.0, 1.0, 0.0) }
  },
  -- Fusing multiple estimates into a single consistent ground truth estimate
  fusion = {
    -- P4C is the combination of the starboard and port estimate
    { frame = "p4c/truth", topic = "/p4c/loc/truth", parents = {
        { frame = "p4c/port" },
        { frame = "p4c/stbd" } } }
  }
}
