<?xml version="1.0"?>

<!-- Copyright (c) 2017, United States Government, as represented by the     -->
<!-- Administrator of the National Aeronautics and Space Administration.     -->
<!--                                                                         -->
<!-- All rights reserved.                                                    -->
<!--                                                                         -->
<!-- The Astrobee platform is licensed under the Apache License, Version 2.0 -->
<!-- (the "License"); you may not use this file except in compliance with    -->
<!-- the License. You may obtain a copy of the License at                    -->
<!--                                                                         -->
<!--     http://www.apache.org/licenses/LICENSE-2.0                          -->
<!--                                                                         -->
<!-- Unless required by applicable law or agreed to in writing, software     -->
<!-- distributed under the License is distributed on an "AS IS" BASIS,       -->
<!-- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or         -->
<!-- implied. See the License for the specific language governing            -->
<!-- permissions and limitations under the License.                          -->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <gazebo>
    <plugin name="eps_ros" filename="libgazebo_model_plugin_eps.so">
      <rate>10.0</rate>          <!-- Rate at which dock state checked  -->
      <distance>0.05</distance>  <!-- Threshold distance for magnetism  -->
      <delay>5.0</delay>         <!-- Delay between contact and docking -->
      <battery_top_left>true</battery_top_left>
      <battery_top_right>true</battery_top_right>
      <battery_bottom_left>false</battery_bottom_left>
      <battery_bottom_right>false</battery_bottom_right>
    </plugin>
  </gazebo>
</robot>
