<?xml version="1.0"?>

<!-- Copyright (c) 2017, United States Government, as represented by the     -->
<!-- Administrator of the National Aeronautics and Space Administration.     -->
<!--                                                                         -->
<!-- All rights reserved.                                                    -->
<!--                                                                         -->
<!-- The Astrobee platform is licensed under the Apache License, Version 2.0 -->
<!-- (the "License"); you may not use this file except in compliance with    -->
<!-- the License. You may obtain a copy of the License at                    -->
<!--                                                                         -->
<!--     http://www.apache.org/licenses/LICENSE-2.0                          -->
<!--                                                                         -->
<!-- Unless required by applicable law or agreed to in writing, software     -->
<!-- distributed under the License is distributed on an "AS IS" BASIS,       -->
<!-- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or         -->
<!-- implied. See the License for the specific language governing            -->
<!-- permissions and limitations under the License.                          -->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <gazebo reference="${prefix}body">
    <sensor name="haz_cam" type="depth">
      <pose>0 0 0 0 0 0</pose>
      <always_on>true</always_on>
      <update_rate>1</update_rate>
      <camera>
        <horizontal_fov>1.0821</horizontal_fov> <!-- 62 degrees -->
        <image>
          <width>224</width>
          <height>171</height>
          <format>L8</format>
        </image>
        <clip>
          <near>0.2</near>
          <far>4</far>
        </clip>
        <depth_camera>
          <output>points</output>
        </depth_camera>
      </camera>
<!--       <plugin name="haz_cam_ros" filename="libgazebo_sensor_plugin_haz_cam.so">
        <namespace>/${ns}/</namespace>
      </plugi -->n>
    </sensor>
  </gazebo>
</robot>
