<?xml version="1.0"?>

<!-- Copyright (c) 2017, United States Government, as represented by the     -->
<!-- Administrator of the National Aeronautics and Space Administration.     -->
<!--                                                                         -->
<!-- All rights reserved.                                                    -->
<!--                                                                         -->
<!-- The Astrobee platform is licensed under the Apache License, Version 2.0 -->
<!-- (the "License"); you may not use this file except in compliance with    -->
<!-- the License. You may obtain a copy of the License at                    -->
<!--                                                                         -->
<!--     http://www.apache.org/licenses/LICENSE-2.0                          -->
<!--                                                                         -->
<!-- Unless required by applicable law or agreed to in writing, software     -->
<!-- distributed under the License is distributed on an "AS IS" BASIS,       -->
<!-- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or         -->
<!-- implied. See the License for the specific language governing            -->
<!-- permissions and limitations under the License.                          -->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <gazebo reference="${prefix}body">
    <sensor name="sci_cam" type="camera">
      <pose>0 0 0 0 0 0</pose>
      <always_on>true</always_on>
      <update_rate>0.0001</update_rate>
      <camera>
        <horizontal_fov>1.0821</horizontal_fov> <!-- 62 degrees -->
        <image>
          <width>5344</width>
          <height>4008</height>
          <format>B8G8R8</format>
        </image>
        <clip>
          <near>0.1</near>
          <far>20</far>
        </clip>
        <distortion>
          <k1>0.0</k1>
        </distortion>
      </camera>
      <plugin name="sci_cam_ros" filename="libgazebo_sensor_plugin_sci_cam.so">
        <namespace>/${ns}/</namespace>
      </plugin>
    </sensor>
  </gazebo>
</robot>
