# Copyright (c) 2017, United States Government, as represented by the
# Administrator of the National Aeronautics and Space Administration.
#
# All rights reserved.
#
# The Astrobee platform is licensed under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with the
# License. You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.

# Set the default ros output to warning and higher
log4j.logger.ros = INFO

# SILENCE THE VERBOSE APIs
log4j.logger.ros.gazebo_ros                            = ERROR
log4j.logger.ros.roscpp                                = ERROR
log4j.logger.ros.nodelet                               = ERROR
log4j.logger.ros.rviz                                  = ERROR
log4j.logger.ros.robot_state_publisher                 = ERROR

# GLOBAL ASTROBEE LOGGING LEVEL
log4j.logger.ros.Astrobee                              = INFO

# LOGGING LEVEL FOR SPECIFIC NODES
log4j.logger.ros.Astrobee./pmc_actuator                = DEBUG
log4j.logger.ros.Astrobee./eps_driver                  = DEBUG
log4j.logger.ros.Astrobee./pico_driver                 = DEBUG
log4j.logger.ros.Astrobee./nav_cam                     = DEBUG
log4j.logger.ros.Astrobee./dock_cam                    = DEBUG
log4j.logger.ros.Astrobee./marker_tracking             = DEBUG
log4j.logger.ros.Astrobee./localization_node           = DEBUG
log4j.logger.ros.Astrobee./ctl_node                    = DEBUG
log4j.logger.ros.Astrobee./fam_node                    = DEBUG
log4j.logger.ros.Astrobee./executive                   = DEBUG
log4j.logger.ros.Astrobee./dds_ros_bridge              = DEBUG
log4j.logger.ros.Astrobee./framestore                  = DEBUG
log4j.logger.ros.Astrobee./choreographer               = DEBUG
log4j.logger.ros.Astrobee./sentinel                    = DEBUG
log4j.logger.ros.Astrobee./mapper                      = DEBUG
log4j.logger.ros.Astrobee./planner_trapezoidal         = DEBUG
log4j.logger.ros.Astrobee./planner_qp                  = DEBUG
log4j.logger.ros.Astrobee./localization_manager        = DEBUG
log4j.logger.ros.Astrobee./arm                         = DEBUG
log4j.logger.ros.Astrobee./dock                        = DEBUG
log4j.logger.ros.Astrobee./perch                       = DEBUG
log4j.logger.ros.Astrobee./vive_server                 = DEBUG
log4j.logger.ros.Astrobee./vive_bridge                 = DEBUG
log4j.logger.ros.Astrobee./return_to_dock              = DEBUG
