-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

--[[
  Computes the locations of the AR markers on the dock in World
  frame from the location of the makers defined on the target plate.

  AR targets are currently caraterized by the positions of three
  corners. The naming refering the a coordinate system attached
  to the marker itself when printed using generate_svg_markers:
    - top left
    - top right
    - bottom left

  The markers (from dock_markers.config) are expressed in a 2D coordinate
  system facilitating the printing (X to the right, Y going down).

  We define a dock frame as follow:
    - origin: coincide with the origin of the target drawing
    - X along the long side of the target plate, positive to the right
      (if looking at the drawing 9sp-1500-m760)
    - Z along the short side of the target plate, positive down (if
      looking at the drawing)
    - Y is thus normal to the target plate, positive in the egress
      direction

  We start by placing the markers from the drawing coordinates
  into the dock frame. Then we apply a transform to find the
  coordinates in world frame by using the dock coordinates in
  the world frame.

  The key parameters of the dock location are:
    - dock_roll_angle
    - dock_yaw_angle
    - dock_position
  (details are in the file, next to the variable definition)

--]]

require "rotations"
local matrix = require 'matrix'

require "dock_markers_specs"

-- angle of a normal to the target plane with the horizontal plane,
-- positive around the X axis
dock_roll_angle = math.rad(-25)

-- angle of the dock X axis with the world X axis, around the
-- world Z axis
dock_yaw_angle = math.rad(-90)

-- dock origin expressed in world coordinate frame (meters)
dock_position = matrix{-0.7053, 0.3105, -0.8378}

-- print(string.format("Processing %d markers...", #markers))

-- Compute the corners of the target in function of its size and position
function marker_corners(m, scale)
  -- express corners in dock frame (see intro)
  top_left = scale * matrix{m['pos'][1], 0.0, m['pos'][2]}
  top_right = top_left + scale * matrix{m['size'], 0.0, 0.0}
  bottom_left = top_left + scale * matrix{0.0, 0.0, m['size']}
  return top_left, top_right, bottom_left
end

-- Simple utility function to print a 3x1 matrix as a vector
function print_vec3(v, str)
  -- TODO should check the size first
  print(string.format("%s=(%.3f, %.3f, %.3f)",
    str, v[1], v[2], v[3]))
end

-- Compute rotation matrix to transform dock frame to world frame
roll_mat = rot_matrix(dock_roll_angle, 'x')
yaw_mat = rot_matrix(dock_yaw_angle, 'z')

Rdock2world = yaw_mat * roll_mat

-- Units transformation
if ( drawing_unit == "mm") then
  -- print("tagets drawing expressed in millimeters")
  scale_factor = 0.001
elseif ( drawing_unit =="in") then
  -- print("targets drawing are expressed in inches")
  scale_factor = 0.0254
else
  print("Warning: targets drawing unit not defined or not recognized")
  print("         assume meters")
  scale_factor = 1.0
end
scaling_mat = matrix{
  {scale_factor, 0.0, 0.0},
  {0.0, scale_factor, 0.0},
  {0.0, 0.0, scale_factor}
}

-- Processing
markers_world = {}
for k,v in pairs(markers) do
  marker_in_world = {}
  top_left, top_right, bottom_left = marker_corners(v, scale_factor)
  marker_in_world['id'] = v['id']
  top_left_world = Rdock2world * top_left + dock_position
  top_right_world = Rdock2world * top_right + dock_position
  bottom_left_world = Rdock2world * bottom_left + dock_position
  -- corners results are in Matrix form, transpose them back into a table
  marker_in_world['top_left'] = {
    top_left_world[1][1], top_left_world[2][1], top_left_world[3][1] }
  marker_in_world['top_right'] = {
    top_right_world[1][1], top_right_world[2][1], top_right_world[3][1] }
  marker_in_world['bottom_left'] = {
    bottom_left_world[1][1], bottom_left_world[2][1], bottom_left_world[3][1] }
  table.insert(markers_world, marker_in_world)
end

--[[
for k,v in pairs(markers_world) do
  print("-------- marker", k)
  print(string.format("id=%d", v['id']))
  print_vec3(v['top_left'], "top_left")
  print_vec3(v['top_right'], "top_right")
  print_vec3(v['bottom_left'], "bottom_left")
end
--]]
