-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

require "context"

epson_imu = {
  prototype = 4,
  G = 9.80665,
  spi_dev = "/dev/spidev0.0",
  spi_speed_hz = 1000000,
  gpio_num_data_ready = robot_imu_drdy_pin,
  gpio_num_reset = 24,
  gpio_num_cs = 62,
  sampling_rate = 0x05,
  filter = 0x06,
  calibration_sampling_rate = 0x04,
  calibration_filter = 0x04,
  enable_flag = false,
  enable_temp = false,
  enable_gyro = true,
  enable_accl = true,
  enable_gpio = false,
  enable_count = false,
  enable_chksm = true,
  data_32_bits = true
}
-- Supported sampling_rate -->
-- 0x01 = 2000 SPS
-- 0x02 = 1000 SPS
-- 0x03 = 500 SPS
-- 0x04 = 250 SPS (tested)
-- 0x05 = 125 SPS (tested)
-- 0x06 = 62.5 SPS (tested)
-- 0x07 = 31.25 SPS (tested)

-- Supported filter settings -->
-- 0x01 = Moving average fileter TAP=2
-- 0x02 = Moving average fileter TAP=4
-- 0x03 = Moving average fileter TAP=8
-- 0x04 = Moving average fileter TAP=16
-- 0x05 = Moving average fileter TAP=32
-- 0x06 = Moving average fileter TAP=64
-- 0x07 = Moving average fileter TAP=128
-- 0x08 = FIR Kaiser filter (param = 8) TAP=32 and fc=50
-- 0x09 = FIR Kaiser filter (param = 8) TAP=32 and fc=100
-- 0x0A = FIR Kaiser filter (param = 8) TAP=32 and fc=200
-- 0x0B = FIR Kaiser filter (param = 8) TAP=32 and fc=400
-- 0x0C = FIR Kaiser filter (param = 8) TAP=64 and fc=50
-- 0x0D = FIR Kaiser filter (param = 8) TAP=64 and fc=100
-- 0x0E = FIR Kaiser filter (param = 8) TAP=64 and fc=200
-- 0x0F = FIR Kaiser filter (param = 8) TAP=64 and fc=400
-- 0x10 = FIR Kaiser filter (param = 8) TAP=128 and fc=50
-- 0x11 = FIR Kaiser filter (param = 8) TAP=128 and fc=100
-- 0x12 = FIR Kaiser filter (param = 8) TAP=128 and fc=200

-- Data in 16 or 32 bits, data_32_bit -->
-- true = 32 bits.
-- false = 16 bits.
