-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

-- Basic info required to connect
i2c_bus_dev = "/dev/i2c-2"

-- Device address
i2c_address = 0x42

-- Number of retries
i2c_retries = 3

-- Communication poll rate in millsecond
comms_poll_dt = 1

-- Telemetry poll rate in millsecond
telem_poll_dt = 500

-- Device table mapping 6 byte HEX serials to names
devices = {
   { serial = "0x00001A7D5AC9", name = "FlatSat" },
   { serial = "0x00001A7E7FA3", name = "Bsharp" },
   { serial = "0x00001A7E551F", name = "Honey" }
}
