-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

-- Marker resolution defines the size of the inside grid
ar_resolution = 5

-- Margin defines the number of cell size to draw the borders
ar_margin = 2

-- What are the units of the drawing
drawing_unit = "mm"
-- How many decimal points to use for the output
drawing_precision = 3

text_font = "Trebuchet MS"

ar_size = 42

nb_lines = 8
nb_cols = 6

cell_size = ar_size/(ar_resolution+ar_margin)

block_size = ar_size+cell_size*2

-- Width and Height of the full target (in drawing_unit units)
drawing_width = nb_cols*block_size+2*cell_size
drawing_height = nb_lines*(block_size+cell_size)+2*cell_size

markers = {}
labels = {}

arid = 16
index = 1
for l = 1,nb_lines do
  for c = 1,nb_cols do
    x = cell_size*2+(c-1)*block_size
    y = cell_size*2+(l-1)*(block_size+cell_size)
    markers[index] = { id=arid, size=ar_size, pos={x, y} }
    labels[index] = {str="id=" .. tostring(arid),
      pos={x+cell_size, y+block_size-cell_size}, size=12}
    arid = arid + 1
    index = index + 1
  end
end
