
-- Copyright (c) 2015 United States Government as represented by the
-- Administrator of the National Aeronautics and Space Administration.
-- All Rights Reserved.

commandConfig = {
  availableSubsystemTypes={
    {
      commands={
        {
          name="grabControl",
          parameters={
            {
              key="cookie",
              type="RAPID_STRING"
            }
          }
        },
        {
          name="requestControl",
          parameters={}
        }
      },
      name="AccessControlType"
    },
    {
      commands={
        {
          name="fault",
          parameters={}
        },
        {
          name="initializeBias",
          parameters={}
        },
        {
          name="loadNodelet",
          parameters={
            {
              key="nodeletName",
              type="RAPID_STRING"
            },
            {
              key="managerName",
              type="RAPID_STRING"
            },
            {
              key="type",
              type="RAPID_STRING"
            },
            {
              key="bondId",
              type="RAPID_STRING"
            }
          }
        },
        {
          name="noOp",
          parameters={}
        },
        {
          name="reacquirePosition",
          parameters={}
        },
        {
          name="resetEkf",
          parameters={}
        },
        {
          name="switchLocalization",
          parameters={
            {
              key="mode",
              type="RAPID_STRING"
            }
          }
        },
        {
          name="unloadNodelet",
          parameters={
            {
              key="nodeletName",
              type="RAPID_STRING"
            },
            {
              key="managerName",
              type="RAPID_STRING"
            }
          }
        },
        {
          name="unterminate",
          parameters={}
        },
        {
          name="wake",
          parameters={
            {
              key="berthNumber",
              type="RAPID_INT"
            }
          }
        },
        {
          name="wakeSafe",
          parameters={
            {
              key="berthNumber",
              type="RAPID_INT"
            }
          }
        }
      },
      name="AdminType"
    },
    {
      commands={
        {
          name="armPanAndTilt",
          parameters={
            {
              key="pan",
              type="RAPID_FLOAT"
            },
            {
              key="tilt",
              type="RAPID_FLOAT"
            },
            {
              key="which",
              type="RAPID_STRING"
            }
          }
        },
        {
          name="deployArm",
          parameters={}
        },
        {
          name="gripperControl",
          parameters={
            {
              key="open",
              type="RAPID_BOOL"
            }
          }
        },
        {
          name="stopArm",
          parameters={}
        },
        {
          name="stowArm",
          parameters={}
        }
      },
      name="ArmType"
    },
    {
      commands={
        {
          name="setDataToDisk",
          parameters={}
        },
        {
          name="startRecording",
          parameters={
            {
              key="description",
              type="RAPID_STRING"
            }
          }
        },
        {
          name="stopRecording",
          parameters={}
        }
      },
      name="DataType"
    },
    {
      commands={
        {
          name="customGuestScience",
          parameters={
            {
              key="apkName",
              type="RAPID_STRING"
            },
            {
              key="command",
              type="RAPID_STRING"
            }
          }
        },
        {
          name="restartGuestScience",
          parameters={
            {
              key="apkName",
              type="RAPID_STRING"
            },
            {
              key="wait",
              type="RAPID_INT"
            }
          }
        },
        {
          name="startGuestScience",
          parameters={
            {
              key="apkName",
              type="RAPID_STRING"
            }
          }
        },
        {
          name="stopGuestScience",
          parameters={
            {
              key="apkName",
              type="RAPID_STRING"
            }
          }
        }
      },
      name="GuestScienceType"
    },
    {
      commands={
        {
          name="autoReturn",
          parameters={}
        },
        {
          name="dock",
          parameters={
            {
              key="berthNumber",
              type="RAPID_INT"
            }
          }
        },
        {
          name="idlePropulsion",
          parameters={}
        },
        {
          name="perch",
          parameters={}
        },
        {
          name="prepare",
          parameters={}
        },
        {
          name="simpleMove6DOF",
          parameters={
            {
              key="referenceFrame",
              type="RAPID_STRING"
            },
            {
              key="xyz",
              type="RAPID_VEC3d"
            },
            {
              key="xyzTolerance",
              type="RAPID_VEC3d"
            },
            {
              key="rot",
              type="RAPID_MAT33f"
            }
          }
        },
        {
          name="stopAllMotion",
          parameters={}
        },
        {
          name="undock",
          parameters={}
        },
        {
          name="unperch",
          parameters={}
        }
      },
      name="MobilityType"
    },
    {
      commands={
        {
          name="pausePlan",
          parameters={}
        },
        {
          name="runPlan",
          parameters={}
        },
        {
          name="setPlan",
          parameters={}
        },
        {
          name="skipPlanStep",
          parameters={}
        },
        {
          name="wait",
          parameters={
            {
              key="duration",
              type="RAPID_FLOAT"
            }
          }
        }
      },
      name="PlanType"
    },
    {
      commands={
        {
          name="powerOffItem",
          parameters={
            {
              key="which",
              type="RAPID_STRING"
            }
          }
        },
        {
          name="powerOnItem",
          parameters={
            {
              key="which",
              type="RAPID_STRING"
            }
          }
        }
      },
      name="PowerType"
    },
    {
      commands={
        {
          name="enableAstrobeeIntercomms",
          parameters={}
        },
        {
          name="setCamera",
          parameters={
            {
              key="cameraName",
              type="RAPID_STRING"
            },
            {
              key="cameraMode",
              type="RAPID_STRING"
            },
            {
              key="resolution",
              type="RAPID_STRING"
            },
            {
              key="frameRate",
              type="RAPID_FLOAT"
            },
            {
              key="bandwidth",
              type="RAPID_FLOAT"
            }
          }
        },
        {
          name="setCameraRecording",
          parameters={
            {
              key="cameraName",
              type="RAPID_STRING"
            },
            {
              key="record",
              type="RAPID_BOOL"
            }
          }
        },
        {
          name="setCameraStreaming",
          parameters={
            {
              key="cameraName",
              type="RAPID_STRING"
            },
            {
              key="stream",
              type="RAPID_BOOL"
            }
          }
        },
        {
          name="setCheckObstacles",
          parameters={
            {
              key="checkObstacles",
              type="RAPID_BOOL"
            }
          }
        },
        {
          name="setCheckZones",
          parameters={
            {
              key="checkZones",
              type="RAPID_BOOL"
            }
          }
        },
        {
          name="setEnableAutoReturn",
          parameters={
            {
              key="enableAutoReturn",
              type="RAPID_BOOL"
            }
          }
        },
        {
          name="setEnableImmediate",
          parameters={
            {
              key="enableImmediate",
              type="RAPID_BOOL"
            }
          }
        },
        {
          name="setEnableReplan",
          parameters={
            {
              key="enableReplan",
              type="RAPID_BOOL"
            }
          }
        },
        {
          name="setFlashlightBrightness",
          parameters={
            {
              key="which",
              type="RAPID_STRING"
            },
            {
              key="brightness",
              type="RAPID_FLOAT"
            }
          }
        },
        {
          name="setHolonomicMode",
          parameters={
            {
              key="enableHolonomic",
              type="RAPID_BOOL"
            }
          }
        },
        {
          name="setInertia",
          parameters={
            {
              key="name",
              type="RAPID_STRING"
            },
            {
              key="mass",
              type="RAPID_FLOAT"
            },
            {
              key="centerOfMass",
              type="RAPID_VEC3d"
            },
            {
              key="matrix",
              type="RAPID_MAT33f"
            }
          }
        },
        {
          name="setOperatingLimits",
          parameters={
            {
              key="profileName",
              type="RAPID_STRING"
            },
            {
              key="flightMode",
              type="RAPID_STRING"
            },
            {
              key="targetLinearVelocity",
              type="RAPID_FLOAT"
            },
            {
              key="targetLinearAcceleration",
              type="RAPID_FLOAT"
            },
            {
              key="targetAngularVelocity",
              type="RAPID_FLOAT"
            },
            {
              key="targetAngularAcceleration",
              type="RAPID_FLOAT"
            },
            {
              key="collisionDistance",
              type="RAPID_FLOAT"
            }
          }
        },
        {
          name="setPlanner",
          parameters={
            {
              key="planner",
              type="RAPID_STRING"
            }
          }
        },
        {
          name="setTelemetryRate",
          parameters={
            {
              key="telemetryName",
              type="RAPID_STRING"
            },
            {
              key="rate",
              type="RAPID_FLOAT"
            }
          }
        },
        {
          name="setZones",
          parameters={}
        }
      },
      name="SettingsType"
    }
  },
  availableSubsystems={
    {
      name="AccessControl",
      subsystemTypeName="AccessControlType"
    },
    {
      name="Admin",
      subsystemTypeName="AdminType"
    },
    {
      name="Arm",
      subsystemTypeName="ArmType"
    },
    {
      name="Data",
      subsystemTypeName="DataType"
    },
    {
      name="GuestScience",
      subsystemTypeName="GuestScienceType"
    },
    {
      name="Mobility",
      subsystemTypeName="MobilityType"
    },
    {
      name="Plan",
      subsystemTypeName="PlanType"
    },
    {
      name="Power",
      subsystemTypeName="PowerType"
    },
    {
      name="Settings",
      subsystemTypeName="SettingsType"
    }
  }
}
