-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

--[[
  Definition of the AR markers on the dock, print version.

  This files includes the AR specs and add other printing
  features (holes, labels, etc.)
--]]

require "dock_markers_specs"

-- Offset to place the markers on the sheet of paper
drawing_xoffset = drawing_width / 2.0
drawing_yoffset = drawing_height / 2.0

text_font = "Arial"

holes = {}
nb_hor = 2
spacing_h = 10.25*in2mm
spacing_v = 4.5625*in2mm
start_h = -spacing_h*(nb_hor-1)/2.0
index = 1
for i = 1,nb_hor do
  holes[index] = {dia=0.25*in2mm, pos={start_h+spacing_h*(i-1),-spacing_v/2.0}}
  holes[index+1] = {dia=0.25*in2mm, pos={start_h+spacing_h*(i-1),spacing_v/2.0}}
  index = index+2
end

-- Get this script filename and directory
filetable=debug.getinfo(1,"S")
scriptpath=filetable['source']
scriptdir=scriptpath:match("(.*[/\\])")
if ( scriptdir == nil ) then
  scriptdir="@./"
  scriptname=scriptpath:gsub("^@", "")
else
  scriptname=scriptpath:gsub(scriptdir, "")
end
scriptdir=scriptdir:gsub("^@", "")

--[[
print("script path =" .. scriptpath)
print("script dir = " .. scriptdir)
print("script name = " .. scriptname)
--]]

-- check if running from the repo (target generation)
versionfile=io.open(scriptdir .. "../version.txt")
if ( versionfile ~= nil ) then
  -- version.txt exist : this is an install directory
  -- get the revision from the file
  n=1
  for line in versionfile:lines() do
    if (n==2) then
      githash=line
    end
    n=n+1
  end
else
  -- check first if we are inside a normal checkout
  buildspecpath=scriptdir .. "../../localization/marker_tracking/CMakeLists.txt"
  buildspecfile=io.open(buildspecpath)
  if ( buildspecfile == nil ) then
    print("Error: config file [" .. scriptname ..
    "] neither in a normal freeflyer repository\n" ..
    "       nor in a freeflyer install directory!")
    os.exit(-1)
  end
  -- get target revision from git
  handle=assert(io.popen('cd '..scriptdir..' && git rev-parse --short HEAD'))
  githash=handle:read("*line")
  handle:close()
end
revision="AR pattern #" .. githash .. "@" .. scriptname
print("revision = " .. revision)

-- label are centered horizontally around the x position
labels = {
  {str="Astrobee Dock", pos={0.0, top_border+8}, size=12},
  {str=revision , pos={0.0, bot_border-4}, size=9}
}
