-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

--[[
  Definition of the AR markers on the dock.

  This file defines the specs of each marker, id, position
  and size. These specs are used by:
    - dock_markers_print - to generate a print version
    - granite_lab_makers - to generate the 3D coordinates

  Within this files the markers are expressed in the 2
  dimensional plane with a coordinate system defined as
  follow:
    - origin: center of the paper defined by drawing_{width,height}
    - X axis: horizontal, positive to the right
    - Y axis: vertical, positive down
--]]

-- Marker resolution defines the size of the inside grid
ar_resolution = 5
-- Margin defines the number of cell size to draw the borders
ar_margin = 2

-- What are the units of the drawing
drawing_unit = "mm"
-- How many decimal points to use for the output
drawing_precision = 3

-- Dock plate dimension are in inches!
in2mm = 25.4

-- Width and Height of the full target (in drawing_unit units)
drawing_width = 15.5*in2mm
drawing_height = 5.0*in2mm

top_border = -drawing_height/2.0
bot_border = -top_border
left_border = -drawing_width/2.0
right_border = drawing_width/2.0
mini_size = 22.0
small_size = 44.0
mini_margin = math.ceil(mini_size/9.0*2.0)
small_margin = math.ceil(small_size/9.0*2.0)

markers = {
  --[[
  2 small markers with optimal placement top and bottom
  However, this interfers with the current bolt pattern!
  {id=18, size=22, pos={left_border+mini_margin, top_border+mini_margin}},
  {id=19, size=22, pos={left_border+mini_margin, bot_border-mini_margin-22.0}},
  After more considerations of errors in the pitch plane, it does not matter
  because they need to be much closer to the centerline anyway.
  See "dock_view.ezdraw" for an analysis of the target size / placement

  Small target have been moved more centered, only to accomodate attachement
  holes. It may not work because of the FOV may not cover them while
  approaching with some error...
  ]]--
  {id=18, size=mini_size, pos={left_border+mini_margin, -38.0}},
  {id=19, size=mini_size, pos={left_border+mini_margin, 38.0-mini_size}},
  {id=20, size=mini_size, pos={left_border+mini_margin+mini_size, -mini_size/2.0}},
  {id=21, size=small_size, pos={
    -- left_border+mini_margin+2.0*mini_size+small_margin,
    left_border+80.0,
    top_border+small_margin
  }},
  {id=22, size=small_size, pos={
    -- left_border+mini_margin+2.0*mini_size+small_margin,
    left_border+80.0,
    bot_border-small_margin-small_size
  }},

  {id=23, size=mini_size, pos={right_border-mini_margin-mini_size, -38.0}},
  {id=24, size=mini_size, pos={right_border-mini_margin-mini_size, 38.0-mini_size}},
  {id=25, size=mini_size, pos={right_border-mini_margin-2*mini_size, -mini_size/2.0}},
  {id=26, size=small_size, pos={
    -- right_border-mini_margin-2*mini_size-small_margin-small_size,
    right_border-80.0-small_size,
    top_border+small_margin
  }},
  {id=27, size=small_size, pos={
    -- right_border-mini_margin-2*mini_size-small_margin-small_size,
    right_border-80.0-small_size,
    bot_border-small_margin-small_size
  }},

  {id=17, size=88, pos={-44, -44}}
}
