-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

require "common_lua"
require "geometry"

-- Accel Feedforward Gains
tun_accel_gain = vec3(1.0, 1.0, 1.0);
tun_alpha_gain = vec3(1.0, 1.0, 1.0);

-- CTL parameters
tun_ctl_linear_force_limit = 100.0;
tun_ctl_att_sat_lower = -0.5;
tun_ctl_att_sat_upper = 0.5;

tun_ctl_pos_sat_lower = -0.1;
tun_ctl_pos_sat_upper = 0.1;

-- Stopped Mode Parameters
tun_ctl_stopped_pos_thresh = 0.1;
tun_ctl_stopped_quat_thresh = 10*pi/180;
tun_ctl_stopping_vel_thresh = .02^2; -- Linear velocity threshold squared below which the vehicle is considered to be stopped, (m/s)^2
tun_ctl_stopping_omega_thresh = .02^2; -- Angular velocity threshold squared below which the vehicle is considered to be stopped, (rad/s)^2

tun_debug_ctl_use_truth = false; -- Controller will use ground truth instead of KFL estimate, only works in sim
