-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

sliding_window_duration = 2
--  Don't leave less than min_num_sliding_window_states in window if possible
min_num_sliding_window_states = 3
-- 62.5 measurements per second
num_bias_estimation_measurements = 100 
-- Gives min threshold for distance traveled for optical flow tracks to avoid degenerate cases with no/too small of baseline
min_valid_feature_track_avg_distance_from_mean = 1
publish_localization_graph = false 
save_localization_graph_dot_file = false 
nav_cam_noise_stddev = 0.1
dock_cam_noise_stddev = 0.1
-- Optical Flow Standstill prior options
max_standstill_feature_track_avg_distance_from_mean = 0.35
optical_flow_prior_translation_stddev = 0.1
optical_flow_prior_quaternion_stddev = 0.1
optical_flow_prior_velocity_stddev = 0.01
optical_flow_standstill_pose_prior = false 
optical_flow_standstill_velocity_prior = false 
-- Sanity Checker options
-- TODO(rsoussan): Create seperate config for sanity checker?
check_pose_difference = true 
num_consecutive_pose_difference_failures_until_insane = 3 
max_sane_position_difference = 10 
check_position_covariance = false 
check_orientation_covariance = false
position_covariance_threshold = 0
orientation_covariance_threshold = 0
-- Starting Prior Noise
starting_prior_translation_stddev = 0.02
starting_prior_quaternion_stddev = 0.01
starting_prior_velocity_stddev = 0.01
starting_prior_accel_bias_stddev = 0.001
starting_prior_gyro_bias_stddev = 0.001
-- Lost Threshold
position_cov_log_det_lost_threshold = 0
orientation_cov_log_det_lost_threshold = 0
-- Feature Tracker
feature_tracker_sliding_window_duration = 1.0
-- Bias Priors
prior_accel_bias_stddev = 0.01
prior_gyro_bias_stddev = 0.01
bias_prior = true 
-- Loc Projection Factors
loc_pose_priors = true
loc_projections = false
loc_prior_translation_stddev = 0.01
loc_prior_quaternion_stddev = 0.01
-- Other
verbose = false 
