-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

-- Graph Value Options
ideal_duration = 2 
--  Don't leave less than min_num_states in window if possible
min_num_states = 3
max_num_states = 100
min_num_factors_per_feature = 2
-- Graph Options
max_iterations = 15 
-- cholesky (faster but less robust) or qr (slower but more robust)
marginals_factorization = "qr"
-- 62.5 measurements per second
num_bias_estimation_measurements = 100 
limit_imu_factor_spacing = false 
max_imu_factor_spacing = 0.1
add_priors = true
add_marginal_factors = false 
loc_nav_cam_noise_stddev = 0.1
optical_flow_nav_cam_noise_stddev = 0.1
loc_dock_cam_noise_stddev = 0.1
-- ISS: 1.345, Granite: 0.5 (or possibly lower)
huber_k = 0.5
-- Only applicable for non zero gravity, causes gravity to be detected as an accelerometer bias instead of 
-- subtracted from accelerometer measurements which requires the use of global orientation estimates.
-- Only works when robot is always gravity aligned.  Recommended when testing in the lab.
ignore_gravity = true 
-- Sanity Checker options
-- TODO(rsoussan): Create seperate config for sanity checker?
check_pose_difference = true 
num_consecutive_pose_difference_failures_until_insane = 3 
max_sane_position_difference = 10 
check_position_covariance = false 
check_orientation_covariance = false
position_covariance_threshold = 0
orientation_covariance_threshold = 0
-- Starting Prior Noise
starting_prior_translation_stddev = 0.02
starting_prior_quaternion_stddev = 0.01
starting_prior_velocity_stddev = 0.01
starting_prior_accel_bias_stddev = 0.001
starting_prior_gyro_bias_stddev = 0.001
-- Lost Threshold
position_cov_log_det_lost_threshold = 0
orientation_cov_log_det_lost_threshold = 0
-- Feature Tracker
feature_tracker_sliding_window_duration = 1.0 
-- Standstill
optical_flow_standstill_velocity_prior = true 
max_standstill_feature_track_avg_distance_from_mean = 0.075
optical_flow_prior_velocity_stddev = 0.01
-- Optical Flow Smart Factors 
smart_projection_adder_enabled = true 
-- Gives min threshold for distance traveled for optical flow tracks to avoid degenerate cases with no/too small of baseline
smart_projection_adder_min_avg_distance_from_mean = 0.075
smart_projection_adder_enable_EPI = false 
smart_projection_adder_landmark_distance_threshold = 500
smart_projection_adder_dynamic_outlier_rejection_threshold = 50 
smart_projection_adder_retriangulation_threshold = 1e-5
smart_projection_adder_verbose_cheirality = false 
smart_projection_adder_robust = true 
smart_projection_adder_max_num_factors = 25 
smart_projection_adder_rotation_only_fallback = false 
smart_projection_adder_splitting = true 
-- Optical Flow Projection Factors 
projection_adder_enabled = false 
projection_adder_enable_EPI = false 
projection_adder_landmark_distance_threshold = 50
projection_adder_dynamic_outlier_rejection_threshold = 5 
projection_adder_max_num_features = 7 
projection_adder_min_num_measurements_for_triangulation = 3
projection_adder_add_point_priors = true 
projection_adder_point_prior_translation_stddev = 0.1
-- Loc Projection Factors
loc_adder_add_pose_priors = true 
loc_adder_add_projections = false 
loc_adder_prior_translation_stddev = 0.01
loc_adder_prior_quaternion_stddev = 0.01
loc_adder_min_num_matches = 5
-- ISS: false, Granite: true
loc_adder_scale_noise_with_num_landmarks = true 
-- 40^2, where 40 is a good num landmarks to see
loc_adder_noise_scale = 1600
-- Rotation Factor
rotation_adder_enabled = false 
rotation_adder_min_avg_disparity = 0.2
rotation_adder_rotation_stddev = 0.1
rotation_adder_max_percent_outliers = 0.13
-- Imu integration
-- butter, butter3, butter5, butter5_1, butter5_05, none
imu_filter = "butter"
imu_augmentor_standstill = true
-- From gtsam: Angular and velocity random walk expressed in degrees respectively m/s per sqrt(hr)
-- (0.5 * M_PI / 180) / 60;  // 0.5 degree ARW
gyro_sigma = 0.00001    
-- 0.1 / 60; // 10 cm VRW
accel_sigma = 0.000001  
accel_bias_sigma = 0.01
gyro_bias_sigma = 0.001
integration_variance = 0.0001
bias_acc_omega_int = 0.0001
-- Other
verbose = false 
fatal_failures = true
print_factor_info = false 
use_ceres_params = false 
publish_localization_graph = false 
save_localization_graph_dot_file = false 
