-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.
require "context"

-- Graph Value Options
ideal_duration = 3.25 
--  Don't leave less than min_num_states in window if possible
min_num_states = 3
max_num_states = 20 
min_num_factors_per_feature = 2
-- Graph Options
max_iterations = 4 
-- cholesky (faster but less robust) or qr (slower but more robust)
marginals_factorization = "qr"
-- 62.5 measurements per second
num_bias_estimation_measurements = 100 
limit_imu_factor_spacing = false 
max_imu_factor_spacing = 0.1
add_priors = true
add_marginal_factors = false 
loc_nav_cam_noise_stddev = 0.1
optical_flow_nav_cam_noise_stddev = 0.1
loc_dock_cam_noise_stddev = 0.1
huber_k = world_huber_k
-- Only applicable for non zero gravity, causes gravity to be detected as an accelerometer bias instead of 
-- subtracted from accelerometer measurements which requires the use of global orientation estimates.
-- Only works when robot is always gravity aligned.  Recommended when testing in the lab.
ignore_gravity = true 
estimate_world_T_dock_using_loc = true
-- Applies to factor adders but not standstill detection
-- Sanity Checker options
-- TODO(rsoussan): Create seperate config for sanity checker?
check_pose_difference = true 
num_consecutive_pose_difference_failures_until_insane = 3 
max_sane_position_difference = 1.5 
check_position_covariance = false 
check_orientation_covariance = false
position_covariance_threshold = 0
orientation_covariance_threshold = 0
-- Starting Prior Noise
starting_prior_translation_stddev = 0.02
starting_prior_quaternion_stddev = 0.01
starting_prior_velocity_stddev = 0.01
starting_prior_accel_bias_stddev = 0.001
starting_prior_gyro_bias_stddev = 0.001
-- Threshold Bias Uncertainies
threshold_bias_uncertainty = true
accel_bias_stddev_threshold = 0.025
gyro_bias_stddev_threshold = 0.025
-- Lost Threshold
position_cov_log_det_lost_threshold = 0
orientation_cov_log_det_lost_threshold = 0
-- Feature Tracker
feature_tracker_sliding_window_duration = 3.25 
-- Semantic Object Tracker
semantic_object_tracker_min_det_dist_thresh = 50
-- Semantic Flow Factors
semantic_flow_factor_adder_enabled = false
semantic_flow_factor_adder_nav_cam_noise_stddev = 1.0
semantic_flow_factor_adder_verbose_cheirality = false 
semantic_flow_factor_adder_landmark_distance_threshold = 500
semantic_flow_factor_adder_dynamic_outlier_rejection_threshold = 50 
semantic_flow_factor_adder_retriangulation_threshold = 1e-5
semantic_flow_factor_adder_rotation_only_fallback = true 
semantic_flow_factor_adder_robust = true 
semantic_flow_factor_adder_enable_EPI = false 
semantic_flow_factor_adder_noise_scale = 2
-- Standstill
max_standstill_feature_track_avg_distance_from_mean = 0.075
standstill_min_num_points_per_track = 4 
standstill_feature_track_duration = 1 
standstill_adder_add_velocity_prior = true 
standstill_adder_add_pose_between_factor = true 
standstill_adder_prior_velocity_stddev = 0.01
standstill_adder_pose_between_factor_translation_stddev = 0.01
standstill_adder_pose_between_factor_rotation_stddev = 0.01
-- Optical Flow Smart Factors 
smart_projection_adder_enabled = true
-- Gives min threshold for distance traveled for optical flow tracks to avoid degenerate cases with no/too small of baseline
smart_projection_adder_min_avg_distance_from_mean = 0.075
smart_projection_adder_enable_EPI = false 
smart_projection_adder_landmark_distance_threshold = 500
smart_projection_adder_dynamic_outlier_rejection_threshold = 50 
smart_projection_adder_retriangulation_threshold = 1e-5
smart_projection_adder_verbose_cheirality = false 
smart_projection_adder_robust = true 
smart_projection_adder_max_num_factors = 13
smart_projection_adder_min_num_points = 2 
smart_projection_adder_max_num_points_per_factor = 20
smart_projection_adder_measurement_spacing = 2 
smart_projection_adder_feature_track_min_separation = 0 
smart_projection_adder_rotation_only_fallback = true 
smart_projection_adder_splitting = true 
smart_projection_adder_scale_noise_with_num_points = true 
smart_projection_adder_noise_scale = 2 
smart_projection_adder_use_allowed_timestamps = true 
-- Optical Flow Projection Factors 
projection_adder_enabled = false 
projection_adder_enable_EPI = false 
projection_adder_landmark_distance_threshold = 50
projection_adder_dynamic_outlier_rejection_threshold = 5 
projection_adder_max_num_features = 7 
projection_adder_min_num_measurements_for_triangulation = 3
projection_adder_add_point_priors = true 
projection_adder_point_prior_translation_stddev = 0.1
-- Loc Factors
loc_adder_add_pose_priors = false 
loc_adder_add_projections = false
loc_adder_prior_translation_stddev = 0.06
loc_adder_prior_quaternion_stddev = 0.06
loc_adder_min_num_matches = 5
loc_adder_max_num_factors = 50  
loc_adder_scale_pose_noise_with_num_landmarks = true 
loc_adder_scale_projection_noise_with_num_landmarks = false 
loc_adder_pose_noise_scale = 7 
-- Change to 9 if scale with inverse distance
loc_adder_projection_noise_scale = 60 
loc_adder_max_inlier_weighted_projection_norm = 30
loc_adder_weight_projections_with_distance = false 
loc_adder_add_prior_if_projections_fail = true 
-- AR Tag Loc Projection Factors
ar_tag_loc_adder_add_pose_priors = false 
ar_tag_loc_adder_add_projections = true
ar_tag_loc_adder_prior_translation_stddev = 0.01
ar_tag_loc_adder_prior_quaternion_stddev = 0.01
ar_tag_loc_adder_min_num_matches = 4 
ar_tag_loc_adder_max_num_factors = 50
ar_tag_loc_adder_scale_pose_noise_with_num_landmarks = false 
ar_tag_loc_adder_scale_projection_noise_with_num_landmarks = false 
ar_tag_loc_adder_pose_noise_scale = 1 
ar_tag_loc_adder_projection_noise_scale = 30
ar_tag_loc_adder_max_inlier_weighted_projection_norm = 5
ar_tag_loc_adder_weight_projections_with_distance = false
ar_tag_loc_adder_add_prior_if_projections_fail = true 
-- Semantic Loc Projection Factors
semantic_loc_adder_enabled = true
semantic_loc_adder_min_num_matches = 2
semantic_loc_adder_max_num_factors = 50
semantic_loc_adder_scale_projection_noise_with_num_landmarks = true 
semantic_loc_adder_projection_noise_scale = 0.5
semantic_loc_adder_max_inlier_weighted_projection_norm = -1
semantic_loc_adder_weight_projections_with_distance = false
semantic_loc_adder_matching_distance_thresh = 3
semantic_loc_adder_matching_distance_second_best_thresh = 1.5
semantic_loc_adder_scale_matching_distance_with_bbox = true
semantic_loc_adder_cost_tolerance = 0.5
-- Rotation Factor
rotation_adder_enabled = false 
rotation_adder_min_avg_disparity = 0.2
rotation_adder_rotation_stddev = 0.1
rotation_adder_max_percent_outliers = 0.13 
-- Handrail Factor
handrail_adder_enabled = true 
handrail_adder_min_num_line_matches = 1 
handrail_adder_min_num_plane_matches = 1 
handrail_adder_point_to_line_stddev = 0.1
handrail_adder_point_to_plane_stddev = 0.1
handrail_adder_use_silu_for_point_to_line_segment_factor = false
-- IMU integration
-- none, ButterOxSxLpxNx, where O is order, S is sample rate, Lp is low pass cutoff, N is notch 
-- Note that notch depends on the sample rate and aliasing
imu_filter_quiet_accel = "ButterO3S125Lp3N33_33"
imu_filter_quiet_ang_vel = "ButterO1S125Lp3N33_33"
imu_filter_nominal_accel = "ButterO3S125Lp3N41_66"
imu_filter_nominal_ang_vel = "ButterO1S125Lp3N41_66"
imu_filter_aggressive_accel = "ButterO3S125Lp3N46_66"
imu_filter_aggressive_ang_vel = "ButterO1S125Lp3N46_66"
imu_augmentor_standstill = true 
gyro_sigma = world_gyro_sigma 
accel_sigma = world_accel_sigma 
accel_bias_sigma = world_accel_bias_sigma
gyro_bias_sigma = world_gyro_bias_sigma
integration_variance = world_integration_variance
bias_acc_omega_int = world_bias_acc_omega_int
-- Graph Localizer Nodelet
-- Buffer max should be at least 10 and a max of 2 seconds of data
-- Imu ~62.5 Hz
max_imu_buffer_size = 125
-- OF ~10 Hz
max_optical_flow_buffer_size = 20
-- Vl ~1 Hz
max_vl_buffer_size = 10
-- AR ~1 Hz
max_ar_buffer_size = 10
-- SM ~10Hz
max_sm_buffer_size = 20
-- DL ~1 Hz
max_dl_buffer_size = 10
-- Other
verbose = false 
fatal_failures = false
print_factor_info = false 
use_ceres_params = false 
publish_localization_graph = false 
save_localization_graph_dot_file = false 
log_rate = 10
imu_bias_file = resolve_resource("imu_bias.config");
