-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

matched_features_on = false
all_features_on = false
num_threads = 1
verbose_localization = false
visualize_localization_matches = false

-- BRISK
brisk_num_similar = 20
brisk_min_query_score_ratio = 0
brisk_ransac_inlier_tolerance = 5 
brisk_num_ransac_iterations = 100 
brisk_early_break_landmarks = 100
brisk_histogram_equalization = 1
brisk_check_essential_matrix = false
brisk_essential_ransac_iterations = 0
brisk_add_similar_images = false
brisk_add_best_previous_image = false
brisk_hamming_distance = 90
brisk_goodness_ratio = 10000
brisk_use_clahe = false 
brisk_num_extra_localization_db_images = 0
-- Detection Params
brisk_min_threshold = 20.0
brisk_default_threshold = 90.0
brisk_max_threshold = 110.0
brisk_min_features = 200 
brisk_max_features = 800
brisk_too_many_ratio = 1.25 
brisk_too_few_ratio = 0.8
brisk_detection_retries = 1
-- Localizer Threshold Params
brisk_success_history_size = 0
brisk_min_success_rate = 0
brisk_max_success_rate = 1
brisk_adjust_num_similar = false
brisk_min_num_similar = 20
brisk_max_num_similar = 20

-- TEBLID512
teblid512_num_similar = 20
teblid512_min_query_score_ratio = 0.45
teblid512_ransac_inlier_tolerance = 3
teblid512_num_ransac_iterations = 1000
teblid512_early_break_landmarks = 100
teblid512_histogram_equalization = 3
teblid512_check_essential_matrix = true 
teblid512_essential_ransac_iterations = 2000
teblid512_add_similar_images = true 
teblid512_add_best_previous_image = true
teblid512_hamming_distance = 85
teblid512_goodness_ratio = 0.8
teblid512_use_clahe = true 
teblid512_num_extra_localization_db_images = 0

-- Detection Params
teblid512_min_threshold = 20.0
teblid512_default_threshold = 72.0
teblid512_max_threshold = 110.0
teblid512_min_features = 1000
teblid512_max_features = 3000
teblid512_too_many_ratio = 1.05 
teblid512_too_few_ratio = 0.95
teblid512_detection_retries = 1

-- Localizer Threshold Params
teblid512_success_history_size = 10
teblid512_min_success_rate = 0.5
teblid512_max_success_rate = 0.9
teblid512_adjust_num_similar = true 
teblid512_min_num_similar = 15
teblid512_max_num_similar = 20

-- TEBLID256
teblid256_num_similar = 20
teblid256_min_query_score_ratio = 0.45
teblid256_ransac_inlier_tolerance = 3
teblid256_num_ransac_iterations = 1000
teblid256_early_break_landmarks = 100
teblid256_histogram_equalization = 3
teblid256_check_essential_matrix = true 
teblid256_essential_ransac_iterations = 2000
teblid256_add_similar_images = true 
teblid256_add_best_previous_image = true
teblid256_hamming_distance = 85
teblid256_goodness_ratio = 0.8
teblid256_use_clahe = true 
teblid256_num_extra_localization_db_images = 0

-- Detection Params
teblid256_min_threshold = 20.0
teblid256_default_threshold = 72.0
teblid256_max_threshold = 110.0
teblid256_min_features = 1000
teblid256_max_features = 3000
teblid256_too_many_ratio = 1.05 
teblid256_too_few_ratio = 0.95
teblid256_detection_retries = 1

-- Localizer Threshold Params
teblid256_success_history_size = 10
teblid256_min_success_rate = 0.5
teblid256_max_success_rate = 0.9
teblid256_adjust_num_similar = true 
teblid256_min_num_similar = 15
teblid256_max_num_similar = 20
