-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

-- This references transforms specified in geometry.config
require "geometry"

-- All static transforms in our system
transforms = {

    ------------
    -- LOCALS --
    ------------

    -- DEPTH CAMERAS

    { global = false, parent = "body",  child = "perch_cam",
      transform = perch_cam_transform },
    { global = false, parent = "body",  child = "haz_cam",
      transform = haz_cam_transform },

    -- RGB CAMERAS

    { global = false, parent = "body",  child = "nav_cam",
      transform = nav_cam_transform },
    { global = false, parent = "body",  child = "dock_cam",
      transform = dock_cam_transform },
    { global = false, parent = "body",  child = "sci_cam",
      transform = sci_cam_transform },

    -- TRANSFORMS BETWEEN CAMERAS
    -- For some reason this interfers with placing the bot in the right location
    --  { global = false, parent = "haz_cam",  child = "nav_cam",
    --   transform = hazcam_to_navcam_transform },
    --  { global = false, parent = "sci_cam",  child = "haz_cam",
    --   transform = scicam_to_hazcam_transform },

    -- IMU

    { global = false, parent = "body",  child = "imu",
      transform = imu_transform },

    -- AR TAG

    { global = false, parent = "body",  child = "ar_tag",
      transform = ar_tag_transform },

    -- LASER

    { global = false, parent = "body",  child = "laser",
      transform = laser_transform },

    -- FLASHLIGHTS

    { global = false, parent = "body",  child = "flashlight_front",
      transform = flashlight_front_transform },
    { global = false, parent = "body",  child = "flashlight_aft",
      transform = flashlight_aft_transform },

    -- PAYLOADS

    { global = false, parent = "body",  child = "payload/top_aft",
      transform = payload_top_aft_transform },
    { global = false, parent = "body",  child = "payload/top_front",
      transform = payload_top_front_transform },
    { global = false, parent = "body",  child = "payload/bottom_aft",
      transform = payload_bottom_aft_transform },
    { global = false, parent = "body",  child = "payload/bottom_front",
      transform = payload_bottom_front_transform },


    -------------
    -- GLOBALS --
    -------------

    -- RVIZ

    { global = true, parent = "world", child = "rviz",
      transform = transform(vec3(0.0, 0.0, 0.0), quat4(1.0, 0.0, 0.0, 0.0)) },

    -- ISS

    { global = true, parent = "world", child = "iss/body",
      transform = transform(vec3(0.0, 0.0, 0.0), quat4(0.0, 0.0, 0.0, 1.0)) },

    -- GRANITE

    { global = true, parent = "world", child = "granite/body",
      transform = transform(vec3(0.0, 0.0, 0.0), quat4(0.0, 0.0, 0.0, 1.0)) },

    -- DOCK

    { global = true, parent = "world", child = "dock/body",
      transform = world_dock_transform },
    -- this accounts for transformation from dock frame to ekf frame, is overwritten

    -- PERCH

    { global = true, parent = "world", child = "perch/body",
      transform = transform(vec3(0.0, 0.0, 0.0), quat4(0.0, 0.0, 0.0, 1.0)) },

    -- BERTH 1

    { global = true, parent = "dock/body", child = "dock/berth1",
      transform = dock_to_berth_1_transform },
    { global = true, parent = "dock/berth1", child = "dock/berth1/complete",
      transform = berth_to_complete_transform },
    { global = true, parent = "dock/berth1", child = "dock/berth1/approach",
      transform = berth_to_approach_transform },

    -- BERTH 2

    { global = true, parent = "dock/body", child = "dock/berth2",
      transform = dock_to_berth_2_transform },
    { global = true, parent = "dock/berth2", child = "dock/berth2/complete",
      transform = berth_to_complete_transform },
    { global = true, parent = "dock/berth2", child = "dock/berth2/approach",
      transform = berth_to_approach_transform },

    -- HANDRAIL

    { global = true, parent = "handrail/body", child = "handrail/complete",
      transform = handrail_to_complete_transform },
    { global = true, parent = "handrail/body", child = "handrail/approach",
      transform = handrail_to_approach_transform },
    -- handrail_to_ensure_transform doesn't exist so this isn't being used
    --{ global = true, parent = "handrail/body", child = "handrail/ensure",
    --transform = handrail_to_ensure_transform }
 }
