-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

parameters = {
  -- MOTION ACTION CLIENT TIMEOUT VALUES
  {
    id = "timeout_motion_connected",
    reconfigurable = false,
    type = "double",
    default = 10.0,
    min = 0.1,
    max = 10,
    unit = "seconds",
    description = "Time by which the motion action must be connected to"
  },{
    id = "timeout_motion_active",
    reconfigurable = false,
    type = "double",
    default = 10.0,
    min = 0.1,
    max = 10,
    unit = "seconds",
    description = "Time by which a motion goal must go active"
  },{
    id = "timeout_motion_response",
    reconfigurable = false,
    type = "double",
    default = 10.0,
    min = 0.1, max = 10,
    unit = "seconds",
    description = "Time by which motion feedback/response must be received"
  },
  -- CHOREOGRAPHER CONFIG PARAMETERS
  {
    id = "planner",
    reconfigurable = false,
    type = "string",
    default = "qp",
    unit = "enumeration",
    values = {},
    description = "Which planner should be used?"
  },{
    id = "enable_collision_checking",
    reconfigurable = false,
    type = "boolean",
    default = true,
    unit = "boolean",
    description = "If an upcoming collision is detected, should we replan?"
  },{
    id = "enable_validation",
    reconfigurable = false,
    type = "boolean",
    default = true,
    unit = "boolean",
    description = "Should we validate segments before executing them?"
  },{
    id = "enable_replanning",
    reconfigurable = false,
    type = "boolean",
    default = true,
    unit = "boolean",
    description = "If an upcoming collision is detected, should we replan?"
  },{
    id = "max_replanning_attempts", reconfigurable = false, type = "integer",
    default = 10, min = 1, max = 999, unit = "unitless",
    description = "The maximum amount of replanning attempts"
  },{
    id = "enable_bootstrapping",
    reconfigurable = false,
    type = "boolean",
    default = true,
    unit = "boolean",
    description = "Should we plan motion to first setpoint?"
  },{
    id = "enable_immediate",
    reconfigurable = false,
    type = "boolean",
    default = true,
    unit = "boolean",
    description = "Shift timestamps to start immediately?"
  },{
    id = "enable_timesync",
    reconfigurable = false,
    type = "boolean",
    default = false,
    unit = "boolean",
    description = "Shift timestamps by DTU + (UTC % DTU) to enforce sync"
  },{
    id = "enable_faceforward",
    reconfigurable = false,
    type = "boolean",
    default = true,
    unit = "boolean",
    description = "Should planning be face-forward only?"
  },{
    id = "desired_vel",
    reconfigurable = true,
    type = "double",
    default = -1.0,
    min = -1.0,
    max = 1.0,
    unit = "m/s",
    description = "Soft planning limit on net linear velocity"
  },{
    id = "desired_accel",
    reconfigurable = true,
    type = "double",
    default = -1.0,
    min = -1.0,
    max = 1.0,
    unit = "m/s",
    description = "Soft planning limit on net linear acceleration"
  },{
    id = "desired_omega",
    reconfigurable = true,
    type = "double",
    default = -1.0,
    min = -1.0,
    max = 1.0,
    unit = "m/s",
    description = "Soft planning limit on net angular velocity"
  },{
    id = "desired_alpha",
    reconfigurable = true,
    type = "double",
    default = -1.0,
    min = -1.0,
    max = 1.0,
    unit = "m/s",
    description = "Soft planning limit on net angular acceleration"
  },
  -- DOCK ACTION CLIENT TIMEOUT VALUES
  {
    id = "timeout_docker_connected",
    reconfigurable = false,
    type = "double",
    default = 10.0,
    min = 0.1,
    max = 10,
    unit = "seconds",
    description = "Time by which the dock action must be connected to"
  },{
    id = "timeout_docker_active",
    reconfigurable = false,
    type = "double",
    default = 10.0,
    min = 0.1,
    max = 10,
    unit = "seconds",
    description = "Time by which a dock goal must go active"
  },{
    id = "timeout_docker_response",
    reconfigurable = false,
    type = "double",
    default = 10.0,
    min = 0.1,
    max = 10,
    unit = "seconds",
    description = "Time by which motion feedback/response must be received"
  },{
    id = "default_berth",
    reconfigurable = false,
    type = "integer",
    default = 2,
    min = 1,
    max = 2,
    unit = "unitless",
    description = "Default berth to dock if not specified"
  }
}
