<?xml version="1.0"?>

<!-- Copyright (c) 2017, United States Government, as represented by the     -->
<!-- Administrator of the National Aeronautics and Space Administration.     -->
<!--                                                                         -->
<!-- All rights reserved.                                                    -->
<!--                                                                         -->
<!-- The Astrobee platform is licensed under the Apache License, Version 2.0 -->
<!-- (the "License"); you may not use this file except in compliance with    -->
<!-- the License. You may obtain a copy of the License at                    -->
<!--                                                                         -->
<!--     http://www.apache.org/licenses/LICENSE-2.0                          -->
<!--                                                                         -->
<!-- Unless required by applicable law or agreed to in writing, software     -->
<!-- distributed under the License is distributed on an "AS IS" BASIS,       -->
<!-- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or         -->
<!-- implied. See the License for the specific language governing            -->
<!-- permissions and limitations under the License.                          -->

<robot name="iss" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <link name="body">
    <inertial>
      <mass value="183353"/>
      <origin xyz="-6.03 0.31 3.59"/>
      <inertia ixx="10276978" ixy="-1084837" ixz="597098"
               iyy="31940398" iyz="-614081"  izz="40019058"/>
    </inertial>
    <xacro:include filename="$(find description)/urdf/iss_macro_module.urdf.xacro" />
    <xacro:module id="cupola" xyz="-4.4586144 -6.8356992 6.8434244" rpy="0 0 0" />
    <xacro:module id="eu_lab" xyz="10.9325664  2.3509732 4.8505872" rpy="0 0 0" />
    <xacro:module id="jpm"    xyz="10.9358938 -2.3364698 4.8505872" rpy="0 0 0" />
    <xacro:module id="node_1" xyz="-4.4630848 -0.0027432 4.8508666" rpy="0 0 0" />
    <xacro:module id="node_2" xyz="10.9344206  0.0107442 4.8558958" rpy="0 0 0" />
    <xacro:module id="node_3" xyz="-4.4586144 -6.6356992 4.8434244" rpy="0 0 0" />
    <xacro:module id="us_lab" xyz=" 6.3085472  0.0064770 4.8508920" rpy="0 0 0" />
  </link>
  <gazebo>
    <static>true</static>
  </gazebo>
</robot>
