<?xml version="1.0"?>

<!-- Copyright (c) 2017, United States Government, as represented by the     -->
<!-- Administrator of the National Aeronautics and Space Administration.     -->
<!--                                                                         -->
<!-- All rights reserved.                                                    -->
<!--                                                                         -->
<!-- The Astrobee platform is licensed under the Apache License, Version 2.0 -->
<!-- (the "License"); you may not use this file except in compliance with    -->
<!-- the License. You may obtain a copy of the License at                    -->
<!--                                                                         -->
<!--     http://www.apache.org/licenses/LICENSE-2.0                          -->
<!--                                                                         -->
<!-- Unless required by applicable law or agreed to in writing, software     -->
<!-- distributed under the License is distributed on an "AS IS" BASIS,       -->
<!-- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or         -->
<!-- implied. See the License for the specific language governing            -->
<!-- permissions and limitations under the License.                          -->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="module" params="id xyz rpy">
    <visual name="iss_${id}_visual">
      <origin xyz="${xyz}" rpy="${rpy}" />
      <geometry>
        <mesh filename="package://description/media/meshes/iss/${id}.dae"/>
      </geometry>
    </visual>
    <collision name="iss_${id}_collision">
      <origin xyz="${xyz}" rpy="${rpy}" />
      <geometry>
        <mesh filename="package://description/media/meshes/iss/${id}.dae"/>
      </geometry>
      <gazebo>
        <surface>
          <contact>
            <collide_bitmask>0x01</collide_bitmask>
          </contact>
        </surface>
      </gazebo>
    </collision>
  </xacro:macro>
</robot>
